[2011-09-14 17:05] botherder opened #1 "Analysis ends before network connection is set"
Windows VM generally takes about 3-4 seconds to fix and set up the network connection.
As malwares execute straight away, sometimes they're not able to perform their requests in time and they just terminate before the link is up.

In these situations the execution lasts for just few seconds and the analysis terminates, actually not providing any useful data.

[2011-09-19 11:07] botherder opened #2 "Try to restore snapshot even after failed power off"
In some cases the malware ends powering off the virtual machine. At current stage, if Cuckoo fails to power it off by itself, it assumes that the machine is corrupted and removes it from the pool.

Need to add a forced attempt to restore virtual machine's snapshot even after a failed power off. In this way we can try to recover the machine and reuse it for other analyses.

[2011-09-19 11:17] #2 closed, assigned to botherder

[2011-09-26 17:41] botherder opened #3 "Hide VirtualBox product's data"
Some malware samples check for known product's identifiers which are used by default in VirtualBox's virtual machines.
For more information on how to modify such data visit:
http://www.virtualbox.org/manual/ch09.html#changevpd

[2011-09-29 11:16] botherder opened #4 "Disable active processes check when no injection is performed"
Since Cuckoo's analysis packages provide the possibility to not actually inject and monitor any process, it's necessary to adapt the main checking procedure and disable the check for active processes.
By not injecting, Cuckoo is not able to follow newly spawned processes, so such check is not functional.

[2011-10-04 09:19] botherder opened #5 "Encode logging messages in Unicode"
When trying to log events, it might happen that under certain circumstances the script is not able to handle some characters properly.
That might happen for example with not-standard file names.

[2011-10-04 09:37] #4 closed, assigned to botherder

[2011-10-04 09:47] botherder opened #6 "Add path blacklisting of files to dump"
Add a simple functionality to blacklist specific paths in order to avoid dumping files of no interest.

[2011-10-04 12:47] #5 closed, assigned to botherder

[2011-10-04 12:48] #1 closed, assigned to botherder

[2011-10-15 09:25] botherder opened #7 "Include updated documentation"
Need to complete and include updated setup and usage documentation.

[2011-11-02 08:55] #7 closed, assigned to botherder

[2011-11-16 08:55] botherder opened #8 "Introduce support for URL submission"
Add support for URL submission in submit.py script to make it able to download URLs, fetch the file and add it to the tasks queue.

[2011-11-16 08:56] botherder opened #9 "Add a function to add tasks to the database's queue table"

[2011-11-16 09:03] #9 closed, assigned to botherder

[2011-11-16 09:03] #8 closed, assigned to nobody

[2011-11-17 11:05] botherder opened #10 "Skip repeated actions reporting and count them"
In order to lower generated reports size, make the postprocessing skip repeated actions (e.g. looped API calls) and add a repetition counter to a unique entry.

[2011-11-17 12:31] #10 closed, assigned to botherder

[2011-11-18 20:45] botherder opened #11 "Add UDP connections to Pcap parser"
Add full UDP connections tracking to pcap file processing module.

[2011-11-19 12:16] #11 closed, assigned to botherder

[2011-11-19 12:17] botherder opened #12 "Enhance logging for cuckoo VM execution"
Enhance logging for cuckoovm.py and its dependencies.
Include GetLastError() value for every failed Windows-related action.

[2011-11-19 12:31] #12 closed, assigned to botherder

[2011-11-27 12:56] botherder opened #13 "Migrate logging to Python's logging library"
Migrate Cuckoo to use Python's logging library:
http://docs.python.org/library/logging.html

[2011-11-27 13:13] #13 closed, assigned to botherder

[2011-11-28 14:07] botherder opened #14 "Fix machine lock in VirtualBox module"
Need to properly fix the lock of sessions on virtual machines in virtualbox.py.

[2011-11-28 14:10] #14 closed, assigned to botherder

[2011-12-16 04:44] ghost opened #15 "Copyright Notice and Contributors"
I am annoyed by the gazillion count of the name of the author everywhere in the code. Just as a suggestion:
http://stackoverflow.com/questions/1497756/declaring-copyright-in-a-foss-project-with-major-and-minor-contributors

We as the people of the world are really thankful for any contribution i.e. to FOSS but it does not shed a good light if the authors (and there have already been more than one)

[2011-12-16 05:01] ghost opened #16 "Avoid using implicit Imports aka from foo import *"
According to the The Zen of Python (http://www.python.org/dev/peps/pep-0020/) explicit is better than implicit and according to http://docs.python.org/tutorial/modules.html#importing-from-a-package and many other suggestions implicit importing is a bad habit and can cause problems. And in the code there are many places where there is only a small amount of things to import thus an explicit approac

[2011-12-16 05:14] ghost opened #17 "Overall modularity of the system too fine grained"
Often I find that the code is too modular as in f.e. the logging module is made up of four files which could be easily put into the __init__.py file and thus be available with a simple "from cuckoo import logging" . Why splitting logic to that extend. It is not a bad programming practice to define two/more classes/functions in the same file unless they are huge and/or have a completely different p

[2011-12-16 05:18] ghost opened #18 "Avoid empty and unnecessary directories in the source tree"
Putting empty directories in the source tree is absolutely unnecessary and confusing to the reader. Those can easily be created during runtime where they belong to anyway.

A directory holding only a file does not make much sense as those runtime depended files could all be placed in one directory and if necessary later on copied to a separate directory in the vm.

[2011-12-16 05:23] ghost opened #19 "Avoid using duplicate naming for files and directories"
Certain names are being used in multiple places and thus are misleading, examples are cuckoo, config, tracer. Better would be better description not only of the function but also the use case like for example processtracer for tracer e.g.

[2011-12-16 13:04] #16 closed, assigned to nobody

[2011-12-16 13:05] #6 closed, assigned to botherder

[2011-12-16 13:12] #17 closed, assigned to nobody

[2011-12-16 13:13] #18 closed, assigned to nobody

[2011-12-16 13:24] #19 closed, assigned to nobody

[2011-12-20 14:45] #15 closed, assigned to nobody

[2011-12-20 14:45] botherder opened #20 "Add possibility to specify parameters to malware execution"

[2011-12-20 14:46] botherder opened #21 "Add possibility to specify arguments to analysis package"

[2012-01-04 13:39] digdugg opened #22 "Bug when a file drops that doesn't get created"
# Here is the analysis.log

[2012-01-03 14:57:46,937] [Core.Analyzer] INFO: Cuckoo starting with PID 496.

[2012-01-03 14:57:46,947] [Core.InstallDependencies] INFO: Installing dependency "\VBOXSVR\setup\system\distorm3.dll".

[2012-01-03 14:57:46,976] [Core.InstallDependencies] INFO: Installing dependency "\VBOXSVR\setup\system.gitignore".

[2012-01-03 14:57:46,986] [Core.InstallCuckoo] INFO: Ins

[2012-01-06 18:07] #22 closed, assigned to nobody

[2012-01-06 18:22] #3 closed, assigned to nobody

[2012-01-06 18:22] #20 closed, assigned to botherder

[2012-01-06 18:22] #21 closed, assigned to botherder

[2012-02-06 17:20] Meloncete opened #23 "Cuckoo stumbled in an unhandled error!"
Hi!

after submit a binary to cuckoo i get this error, if y try to see the report via web, i have this other error:

Error response

Error code 404.

Message: Not Found.

Error code explanation: 404 = Nothing matches the given URI.

---

Console error.

[2012-02-06 18:18:01,695] [Core.Dispatcher] DEBUG: No tasks pending.
[2012-02-06 18:18:02,520] [VirtualMachine.Execute] INFO: Cuckoo analyzer exit

[2012-02-06 23:53] #23 closed, assigned to nobody

[2013-12-06 13:59] seanthegeek opened #198 "Process tracing regression"
Sometime in the last 30 days, a process tracing regression has occurred in the development branch. The process tables in the HTML report are empty.

[2013-12-07 07:00] phani-vadrevu opened #199 "Possible bug in irc.py"
In `cuckoo/lib/cuckoo/common/irc.py`, I think the two lines 57 and 64, should be inside the `if` clauses. This might be messing with the output of `isthereIRC()`.

Can someone verify this?

[2013-12-09 01:04] #198 closed, assigned to nobody

[2013-12-09 13:15] dellastreet opened #200 "VirtualBOX hangs sometimes"
While doing mass analysis sometimes VirtualBox hangs and needs TLC to get started again. Although this is probably a VirtualBOX problem, I do not like the manual intervention.

Surely my implementations s*cks, but this is how it works:

If the restore fails, it tries to find the corresponding process and kill's it...
it does a second attempt to restore before throwing its normal exception.

Good l

[2013-12-12 06:56] Crashman1983 opened #201 "Development Branch: No html report?"
Yesterday I tried to setup a new cuckoo box using the newest development branch. I played around with reporting.conf using enablehtml = yes/no/on/off ... but what I don't get is a html-report.

Do you see any reason what could be wrong?

thx,
Crashman

[2013-12-12 09:22] #201 closed, assigned to nobody

[2013-12-13 09:32] Crashman1983 opened #202 "Memory Dump: Type Error - 3 instead of 2 arguments"
I'm getting the following error lines, when I cuckoo is configured to do a memory dump. Whats irritating to me: I can only count 2 arguments:
- self.machine.label
- result of os.join.path

Should work for my understanding?

2013-12-13 09:57:46,732 [lib.cuckoo.core.scheduler]

ERROR: Failure in AnalysisManager.run
Traceback (most recent call last):
  File "/***_/**__/_**_/lib/cuckoo/core/scheduler.

[2013-12-16 21:30] wzr opened #203 "Dev branch: machines are not "reconciled" in database upon restart, number keeps growing"
The number of machines in DB keeps growing upon restart of cuckoo.py when swapping to a different DBMS e.g. MySQL or postgres.

[code]

[... snip ...]

[code]

[... snip ...]

[code]

[2013-12-18 17:58] azman0101 opened #205 "Upload failed for 160Mo binary"
I get this 'exceptions.MemoryError' error when tried to upload 160Mo exe.

Where am I wrong ?

[code]

[2013-12-19 08:57] azman0101 opened #206 "Error on non ascii character"
I got an Error when non-ascii char exists in the path:

`
dev@L670:~/Téléchargements$ ~/cuckoo/utils/submit.py monbin.exe
Traceback (most recent call last):
  File "/home/dev/cuckoo/utils/submit.py", line 96, in <module>
    main()
  File "/home/dev/cuckoo/utils/submit.py", line 91, in main
    print(bold(green("Success")) + ": File \"{0}\" added as task with ID {1}".format(file_path, task_id))
Un

[2013-12-25 17:18] #199 closed, assigned to nobody

[2014-01-07 10:18] #200 closed, assigned to nobody

[2014-01-07 10:19] #203 closed, assigned to nobody

[2014-01-07 13:03] #206 closed, assigned to nobody

[2014-01-11 01:20] evilscheme opened #219 "cuckoo blind to traffic on port 8000 (e.g., Neutrino exploit kit)"
By default Cuckoo doesn't capture any traffic to/from the sandbox VM on port 8000. This makes cuckoo totally blind to attacks/infections that occur over port 8000 (which just happens to be the default port Neutrino exploit kit uses these days.)

I think this change fixes that problem while keeping XMLRPC traffic out of the dump:

[code]

[2014-01-15 15:16] 0ca opened #224 "Sample doesn't work with injection (free=no) in cuckoo 1.0"
Hi everyone,
I've find an error in the cuckoo versions 0.5 and 1.0. I hoped that in the version 1.0 it'll be fixed but not, it remains.

I'm analizyng an exe, a hesperbot sample. This sample makes requests to yahoo.com, google.com, wikipedia.org and the real C&C, ***gement.biz.

When I send the sample to cuckoo 1.0 the exe doesn't make the requests. But when I send the sample to cuckoo with the op

[2014-01-17 08:33] Crashman1983 opened #227 "Feature: Passwords for Office/PDF Files"
I've to analyse some Documents with passwords. It is hard to put in the right password during a hot analysis.

I couldn't find an option to pass a password from host to guest, except for zip files.

Maybe this could be implemented.

thx

[2014-01-17 13:27] Crashman1983 opened #228 "Feature: Passwords for Office/PDF Files"
I would suggest adding a feature that allows passing a password for Office and PDF Documents from Host to Guest!

Something like this has been implemented for Zip files already!

thx

[2014-01-19 09:23] botherder opened #229 "Add search for URLs in web interface"

[2014-01-19 09:24] botherder opened #230 "Add search for AV sigs in web interface"

[2014-01-19 09:30] botherder opened #231 "Add button to remove analyses in web interface"

[2014-01-19 17:08] #228 closed, assigned to nobody

[2014-01-20 15:52] Crashman1983 opened #232 "Detection of Excel Files (xls/xlsx)"
I've some Excel files that I want to analyse. When I select "Detect Automatically" cuckoo will start MS Word and not Excel!

When I select Excel Filetype manually, cuckoo sandbox will work correctly.

I took a look into the repository, but couldn't find the mistake. it happens with Cuckoo 1.0 and 1.1-dev.

[2014-01-22 10:24] Crashman1983 opened #235 "idea: Add "mask" for standard behavior"
When you take a look on virustotal results that come from cuckoo, you will notice that they are very clean. Systems standard behaviour (file system/registry activities of MS Office for example) are not part of virus total reports.

Is there any simple way to mask those activities? I would want to make some kind of baseline for word, excel, internet explorer and adobe reader to generate a filter.

[2014-01-22 18:37] mkorman90 opened #237 "Web interface does not load (django)"
I get the next error:

Environment:

Request Method: GET
Request URL: http://192.168.200.90:8080/

Django Version: 1.6.1
Python Version: 2.7.3
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.staticfiles',
 'django.contrib.admin',
 'analysis')
Installed Middleware:
('django.middleware.common.CommonMiddleware',
 'django.con

[2014-01-22 20:06] #237 closed, assigned to nobody

[2014-01-23 17:33] Crashman1983 opened #239 "idea: Ability to restart system during active analysis"
Some malware samples show network activity after reboot.

An option to reboot a system after a defined amount of time would be helpful. After reboot the analysis could go an for some time.

[2014-01-24 11:28] 0ca opened #241 "Cuckoo is not generating the file analysis.conf"
Hi!
In cuckoo 1.0 the file analysis.conf is not generated in the report folder.

I've tested it in a clear version of cuckoo 1.0. And the file cuckoo1.0/storage/analyses/1/analysis.conf is not generated.

I thing this is a bug.
Best regards!

[2014-01-24 14:41] Crashman1983 opened #242 "More Informationa about analysis run in webinterface"
Under category "recent" in django webinterface you can see all recent analysis task. I'm sorry, but after some days and 100 analysis tasks I don't know which hash corresponds with the analysis report I'm currently looking for.

I wish I could see more details! For example the machine that the analysis was run on. Maybe the filename of the file that was tested.

Or, much better: own tags!

[2014-01-28 14:39] dmaciejak opened #245 "URL analysis on Windows XP IE6 is not working"
As reported in some old ticket on dev cuckoo and at http://community.cuckoosandbox.org/posts/show/any-update-on-using-ie6-on-windows-xp-for-url-analysis/

"I could manually go to any site using IE6 but whenever Cuckoo submits a URL analysis it always shows Page not Found.I searched the forum and looks like there are some bugs in the code to prevent IE6 from visiting URLs properly. Is this issue fi

[2014-01-28 14:48] dmaciejak opened #246 "MAEC40 report generation failure"
when trying to pass an url and not a file

2014-01-28 22:31:53,288 [lib.cuckoo.core.plugins] ERROR: Failed to run the reporting module "MAEC40Report":
Traceback (most recent call last):
...
  File "/Users/user/Project/cuckoo-dma/modules/reporting/maec40.py", line 704, in createWinExecFileObj
    if len(self.results["static"]["pe_exports"]) > 0:
KeyError: 'pe_exports'

the createWinExecFileObj func

[2014-01-29 14:40] Crashman1983 opened #247 "Yara Errors using Cuckoo"
For some days now I cannot get any repot. Cuckoo exists with an error that seems to be related with yara. But I don't know why. I uninstalled and deleted everything related to yara on my system and reinstalled using

sudo pip install yara

That installed Yara 1.7.6 and Yara-Ctypes 1.7.6 successfully.

But I always get that kind of errror at the end of an analysis run:

---

2014-01-29 15:35:58,051

[2014-01-30 01:04] #246 closed, assigned to nobody

[2014-01-30 01:06] #232 closed, assigned to nobody

[2014-01-30 02:20] botherder opened #249 "Blacklist previously unseen source IP addresses"
In some situations, leftover connections from previous analyses appear in following ones.
In order to prevent this from showing in the reports, we can blacklist non-local IP addresses sending packages to the VM. We assume that every established connection should start outbound.

[2014-01-30 09:32] Crashman1983 opened #251 "Strange behaviour caused by cuckoomon.dll"
I am currently using a developement version of cuckoomon.dll. It is from last week and includes latest fixes. It is working better than 1.0 version, but I could notive some strange behaviour.

When cuckoomon.dll is injected, starting samples (in this case PDF Files) leads to error messages (e.g. Font missing) that I cannot observe when starting the file manually in a vmware environment.

After the

[2014-01-31 02:10] #251 closed, assigned to nobody

[2014-01-31 02:11] #247 closed, assigned to nobody

[2014-02-04 16:48] #219 closed, assigned to botherder

[2014-02-04 16:51] #202 closed, assigned to jekil

[2014-02-04 17:05] #224 closed, assigned to jbremer

[2014-02-04 17:16] #205 closed, assigned to jekil

[2014-02-04 17:16] #241 closed, assigned to botherder

[2014-02-05 14:52] jcannell opened #259 "Cuckoomon fails with IE injecting malware"
Hello,

Lately I've seen a lot of IE-injecting malware from Exploit Kit drops. Kaspersky calls them Trojan-Downloader.Win32.Piker.pft. They don't seem to run properly in Cuckoo, I've tried using my own install and also on malwr. Here is the the link to the malwr sample - https://malwr.com/analysis/ZmViNjRjMDc0ZjdkNDUyM2I4NmRmZWFlNWE0NDQ2NGQ/#

And here is a VT link - https://www.virustotal.com/en/

[2014-02-13 21:19] fconcklin opened #262 "ESXi and libvirt"
My current understanding is that the ESXi configuration uses python bindings to vsphere and not libvirt. Does this mean that cuckoo.conf should be modified to exclude libvirt specific configuration such as the label tag the machine (default: analysis1) in cuckoo.conf?

[2014-02-13 21:23] #262 closed, assigned to nobody

[2014-02-14 18:19] fconcklin opened #263 "Mention requirement to build libvirt from source for ESX support"
Currently libvirt packages in ubuntu and debian are not built with ESX support. This requires manual builds of libvirt in order for ESX support in cuckoo. This might be worth mentioning in the documentation.

[2014-02-15 01:32] dummys opened #264 "Strange issue with Maec"
Hi,

I've got a strange issue while submitting a sample.

Traceback (most recent call last):
  File "/opt/cuckoo/modules/reporting/maec40.py", line 927, in output
    self.package.to_obj().export(report, 0, name_="MAEC_Package", namespacedef_=MAECNamespaceParser(self.package.to_obj()).get_namespace_schemalocation_str())
  File "/usr/local/lib/python2.7/dist-packages/maec/package/package.py", line

[2014-02-18 21:33] Jordan1321 opened #265 "Snapshot selection in virtualbox.conf"
While setting up Cuckoo 1.0 I was having issues with the agent communicating with Cuckoo. All I was getting was a not ready message in cuckoo.py and the agent was just sending http 500 messages every second.

I eventually figured out that the optional snapshot selection option in the virtualbox.conf file was to blame, I had the parameter set to the snapshot I wanted to use however this would cause

[2014-02-18 21:47] #263 closed, assigned to nobody

[2014-02-19 20:29] dummys opened #266 "New feature to select inetsim or tor"
Hi,
I've implemented a new feature for selecting network.
I need to analyze malware from customer and you don't want that this malware goes ont the internet, but perhaps you want also analyze some other "mainstream" malware and playing with his c&c and so on.
So i've implemented a new selectbox in the web interface as well as an options in the esx/vbox.conf to add inetsim or tor.
With this new fea

[2014-02-19 20:33] #264 closed, assigned to nobody

[2014-02-19 23:48] dummys opened #267 "when interface is set in esx.conf it's not taken by the sniffer.py"
Hi, It seems that in modules/auxiliary/sniffer.py there is no line to take in charge if user has set "interface = ethx" in esx/vbox.conf.

I'made debug log to see it and i got this.

2014-02-20 00:34:58,796 [lib.cuckoo.core.scheduler] INFO: Task #14: acquired machine cuckoo-wxp4 (label=cuckoo-wxp4)
DEBUG -> interface: eth2
['/usr/sbin/tcpdump', '-U', '-q', '-s', '0', '-i', 'eth2', '-n']
2014-02-20

[2014-02-20 12:07] #265 closed, assigned to nobody

[2014-02-21 17:01] MarioVilas opened #269 "Analysis failed: 'NoneType' object has no attribute 'close'"
Whenever I submit an analysis from a URL instead of supplying the binary, this error shows up. It doesn't happen if I download the file myself and submit it.

![screenshot](https://f.cloud.github.com/assets/227923/2232275/a5a64b4c-9b19-11e3-9c41-f3afee96dc14.png)

Tested with http://the.earth.li/~sgtatham/putty/latest/x86/putty.exe using the master branch.

[2014-02-24 05:02] #266 closed, assigned to nobody

[2014-02-24 10:52] dummys opened #270 "URL analysis on Windows XP SP3 IE 8 crash"
Hi, When I submit an url to open in cuckoo Internet Explorer 8 crash.

Windows XP SP3 is unpatched as well as IE 8, ie7 and ie6.

Anyone having same problem ? I can give analysis log if needed.

[2014-02-24 16:47] #270 closed, assigned to nobody

[2014-02-24 16:51] #245 closed, assigned to nobody

[2014-02-24 18:31] MarioVilas opened #271 "Possibly missing install instructions regarding Volatility"
I have followed the instructions to install Cuckoo, but it still complains that Volatility is not installed. After quickly examining the source code I found this:

[code]

So I tried that sequence of import statements and this was the result:

[code]

So it's possible that some details of the install instructions may be missing in the documentation... :(

[2014-02-24 21:44] dummys opened #272 "Issue when using esx in development version"
Hi, I need to use the dev version to test the IE bug, but when starting cuckoo:

Traceback (most recent call last):
  File "cuckoo.py", line 68, in <module>
    main()
  File "cuckoo.py", line 62, in main
    sched.start()
  File "/opt/cuckoo_dev/lib/cuckoo/core/scheduler.py", line 452, in start
    self.initialize()
  File "/opt/cuckoo_dev/lib/cuckoo/core/scheduler.py", line 431, in initialize

[2014-02-25 14:56] #271 closed, assigned to nobody

[2014-02-25 16:06] #229 closed, assigned to botherder

[2014-02-25 18:52] MarioVilas opened #273 ""ERROR: Analysis results folder does not exist""
I keep getting this error and the behavior analysis is never performed. I've searched on Google and while there are a number of posts related to this problem (most of them unanswered!) the answers pointed to a problem with the shared folders.

But in theory Cuckoo 1.0 no longer uses shared folders. Which makes me think some of the functionality is still tied to shared folders.

In my guest machine

[2014-02-26 15:08] #273 closed, assigned to nobody

[2014-02-26 23:37] #269 closed, assigned to rep

[2014-02-27 08:45] #272 closed, assigned to jekil

[2014-02-27 15:34] dummys opened #274 "Crash of django when reports is big (7.5MO)"
Hi,

I got a crash on django when big reports is created..
Here is the traceback:

 File "/usr/local/lib/python2.7/dist-packages/django/template/defaulttags.py", line 877, in create_var
    return TemplateLiteral(self.template_parser.compile_filter(value), value)
  File "/usr/local/lib/python2.7/dist-packages/django/template/base.py", line 360, in compile_filter
    return FilterExpression(token,

[2014-02-28 15:38] botherder opened #275 "Create a convertion utility from 0.6 to 1.x"
The database schema changed, which prevents people from reusing previous analyses and updating their Cuckoo setup to a newer version.
We need to create a conversion utility which updates an old SQLite database to the latest version.

[2014-03-05 14:56] jcannell opened #278 "sort path in submission script"
Hello,

This is a feature request. It is very simple.

In the submission script (submit.py), os.walk function is used to retrieve the files from "path". This function uses os.listdir, which lists directory contents in an arbitrary order. Please add the following else statement to the last if:

[code]

This will ensure that a path submitted more than once will be submitted in the same order every t

[2014-03-06 07:48] threatlead opened #279 "Error in Result page of Django Web Application"
`File: cuckoo/web/analysis/views.py`

IMO, the **info.id** is not unique within MongoDB, especially when someone uses clean.sh to make space on the filesystem, but doesn't clears up MongoDB.

This leads to errors in Django report, as the application may show results from sample with "_info.id_" from previous to `clean.sh` dataset, rather the current one which user wanted to see.

[2014-03-06 08:08] threatlead opened #280 "Malware added to AutoRun, but not executed"
I have bumped into a few samples that drops dlls or executables, adds it to registry or filesystem for auto-run, but doesn't executes it.

Therefore, the malware is placed on the machine, but doesn't triggers any C2 communication. I was wondering if we can write something in the analyzer to overcome this. Maybe detect the: **Installs itself for autorun at Windows startup** signature and run it aut

[2014-03-06 09:12] verovaleros opened #281 "Add VM ID or name to report view"
When running a binary in different VMs (different OS) in cuckoo, it is valuable to have the information of on which VM the binary was run in the report view. Having this data in there makes it easy to the analyzer to be able to track and compare the behavior of the malware on different appliances.

[2014-03-06 15:25] woanware opened #283 "REST API /tasks/create/file "file" parameter documents appear incorrect"
The REST API docs for the "/tasks/create/file" method state:
"file (required) - path to the file to submit"

I have only managed to get this method to work the the "requests" python library by forming the request like so:

[code]

[2014-03-07 06:22] threatlead opened #284 "/Module/Strings :: Doesn’t account for wide strings"
File: `modules/processing/strings.py`
Line: **29**

[code]

Last line doesn’t account for wide chars with alternating \x00 in them.

[2014-03-08 09:53] #283 closed, assigned to nobody

[2014-03-21 08:54] #281 closed, assigned to nobody

[2014-03-21 08:55] #280 closed, assigned to nobody

[2014-03-21 08:56] #279 closed, assigned to nobody

[2014-03-21 08:58] botherder opened #289 "Store information on which analysis machine was selected and used for a given task"
Currently we only store whether a specific machine was selected manually by the user at the time of submission of the file. In the case where no machine was specified, one will be automatically selected by Cuckoo during execution.

It would be valuable to have this information available in the reporting.

[2014-03-22 12:23] #267 closed, assigned to jekil

[2014-03-26 21:21] #275 closed, assigned to jekil

[2014-04-05 14:40] #284 closed, assigned to nobody

[2014-04-06 09:20] botherder opened #297 "Add possibility to upload multiple files at once through Django web interface"
Adding multiple files singularly through the web form can be a tedious task.
Would be nice to have a way of uploading multiple files at once and queue them up all with the same provided options.

[2014-04-07 19:58] jhumble opened #299 "Evented Signature Processing runs on_complete(), Documentation/Examples claim stop() is run"
There is a discrepancy between the evented signature documention and examples and the signature processing code in lib/cuckoo/core/plugins.py: (~ line 409). The documentation says stop() will be called at the end, but the on_complete() method is called instead.

# Call the stop method on all remaining instances.
for sig in evented_list:
    try:
        result = sig.on_complete()

[2014-04-07 21:23] anywhere1 opened #300 "Error - memory dump"
Hello,
I am not sure what I might be doing wrong but i have 3 problem:
1. when i run web.py and openning with firefox i can't see the tab Browse.
2. i installed pil in the guest winXP and i dont see screen shot in folder shots.
3. when i enable memory dump i got an error:
2014-04-07 13:23:39,296 [volatility.obj] WARNING: NoneObject as string: Cannot find process session
2014-04-07 13:23:39,297 [vo

[2014-04-09 18:02] jhumble opened #301 "Path Issue in doc.py and xls.py packages on x64 Guests /w 32bit python"
Both of these packages enumerate potential locations for the word/excel executables using os.getenv('ProgramFiles'). On 64 bit systems /w 32 bit python, the analyzer ends up running in SysWow64. This causes the following behavior:
getenv('ProgramFiles(x86)') => C:\Program Files (x86)
getenv('ProgramFiles') => C:\Program Files (x86)

The packages mentioned only try 'ProgramFiles' - I point out the

[2014-04-09 19:00] kholbrook1303 opened #302 "Machine/Task Correlation when performing a db.fetch"
There is an issue which has been present for quite some time which I had posted to the community a while back but wanted to log it as a bug.  In the scheduler.py, there is a check for "availables" which is basically just polling the machines table for a count of unlocked machines. This typically is not an issue, but when you send a batch of files to a specific machine (In my case a specific platfo

[2014-04-10 20:43] #300 closed, assigned to nobody

[2014-04-11 18:46] seanthegeek opened #303 "Allow multiple types of connections (TOR, inetsim)"
Add a feature that allows traffic to be sent through a selected gateway ((TOR, inetsim) on a per submission basis, with a default option.

[2014-04-12 11:58] botherder opened #304 "Analysis of .NET applications not working properly"

[2014-04-24 04:36] chokden opened #307 "Exception closing connection <sqlite3.Connection object at 0x7fbbf937e688>"
[code]

[2014-05-01 18:31] nilp0inter opened #317 "Sandbox detection test with pafish."
Hi,

I don't know if you guys know the excellent tool ![pafish](https://github.com/a0rtega/pafish). It's a tool that performs some anti(debugger/VM/sandbox) tricks. Most of them are often used by malware to avoid debugging and dynamic analysis.

I've just submitted a pull-request for transform it in an unattended tool a0rtega/pafish#17 and I'd like to add an option to cuckoo for auto check the box

[2014-05-06 05:35] jjjan opened #320 "working issue"
hello i always have this problem could any one help me thanks indeed

2014-05-05 22:34:05,438 [lib.cuckoo.core.scheduler] ERROR: VBoxManage exited with error restoring the machine's snapshot
2014-05-05 22:34:05,596 [modules.machinery.virtualbox] INFO: Successfully generated memory dump for virtual machine with label cuckoo1 to path /opt/cuckoo/storage/analyses/5/memory.dmp
2014-05-05 22:34:05,907

[2014-05-06 08:37] #320 closed, assigned to nobody

[2014-05-08 15:00] AndreC10002 opened #323 "Disable screenshots on configuration file"
This is a feature/enhancement request.

I'd like to suggest that screenshots can be disabled in the Cuckoo configuration file.  Currently, if you have the required software installed, the only way to stop Cuckoo from taking screenshots is by modifying the Python code.

At least for us, screenshots are not useful and consume extra time to load the UI and disk space.

Thank you!

[2014-05-13 09:05] nilp0inter opened #328 "API client"
Hi,

This is not an issue. FYI I've uploaded a cuckoo API client for python, and maybe it's useful for you.

https://github.com/nilp0inter/cuckooapi
https://pypi.python.org/pypi/cuckooapi

Currently it has basic functionality and [lacks some important features](https://github.com/nilp0inter/cuckooapi/blob/develop/TODO.rst) but I'm working on it.

Keep up the good work!

Cheers.

[2014-05-14 08:11] mihairo opened #329 "Possible issue with volatility and cuckoo"
Hi all,
I have installed the latest version of cuckoo and volatility and I am performing some exploratory testing of malware with memory dump.When I am running the cuckoo script the analysis runs fine, the vm memory is dumped and saved, but when volatility is executed some error are thrown.
I've attached the debug logs
Thank you.

2014-05-14 11:04:59,622 [lib.cuckoo.core.guest] DEBUG: win7: analys

[2014-05-22 22:59] #289 closed, assigned to jekil

[2014-05-27 09:33] ayoubfaouzi opened #330 "Typing mistake in documentation"
Hi,

In the documentation, in the REST APIs section :

/files/get
Returns the content of the PCAP associated with the given task.

/pcap/get
Returns the binary content of the file matching the specified SHA256 hash.

It should not be the reverse case ?

[2014-05-27 22:34] #330 closed, assigned to jekil

[2014-06-04 21:59] #278 closed, assigned to nobody

[2014-06-10 09:36] sabriedd opened #333 "Bug : Delete from admin tab"
Using the web interface, in the admin tab of an analysis, i tried to delete one, but it failed.
Because there was no pcap for this analysis.

[code]

[2014-06-10 21:39] #231 closed, assigned to jekil

[2014-06-10 21:40] #333 closed, assigned to jekil

[2014-06-18 11:15] nilp0inter opened #337 "The agent connection timed out during analysis and the critical timeout is reached"
Hi,
I am experiencing some problems with the latest version.

The behavior appears randomly (my setup it's very simple: just one sample and just one machine).
The pattern is always the same:
- The analysis successfully starts and successfully send some data, process, dropped files and other kind of stuff. And suddenly the sandbox starts logging this line:

[code]
- Pretty normal... but at certain

[2014-06-24 01:14] fconcklin opened #338 "Add cybox to pip dependencies in Requirements"
maec will fail without prior installation of cybox.

[2014-06-24 23:57] ghost opened #339 "possible missing hook mechanisms"
There may be some missing hook mechanisms for windows 7 within the agent.

Context:
network traffic showing within PCAP but no referenced call seen within behavior

Attempted to submit to malwr and sandbox errored out:
https://malwr.com/analysis/N2FkMmU2YzA2Y2JhNDVhNWJmY2U5ZWMwN2ZhYTNkYzc/

Example MD5: 88ab8af8926148df1f8aaaa95f6f8048

listed within the PCAP is:
GET /versions/components/tb_google

[2014-07-01 18:35] ghost opened #341 "Current requirements does not list Mongo"
https://cuckoo.readthedocs.org/en/latest/installation/host/requirements/

Does not currently list mongo as a requirement (only lists pymongo library)

[2014-07-01 18:48] beast-fighter opened #342 "possible missing hook mechanisms"
possible missing hook mechanisms seen within 1.2-dev and Windows 7 VM guest

Using Windows 7 (SP1) x86

Example MD5: 88ab8af8926148df1f8aaaa95f6f8048 (pixpsetup.exe)

Seen within pcap:
GET /components/toolbars/NCH_Chrome.exe HTTP/1.0
Host: www.audiochannel.net

No network api calls seen within behavior section

[2014-07-01 18:49] #339 closed, assigned to nobody

[2014-07-01 18:54] #299 closed, assigned to rep

[2014-07-04 06:50] 0ca opened #343 "Cuckoo doesn't patch sleeps"
Hi,
I've analyzed an exe with this code on cuckoo 1.1:

[code]

But Cuckoo doesn't patch the sleep, so the program never reaches the instruction `printf("Sleep finished")`.

I've found this code in cuckoomon:
https://github.com/cuckoobox/cuckoomon/blob/master/hook_sleep.c

[code]

And it seems that cuckoo can patch the sleep calls in the first 5 seconds. But in my test doesn't work :(

What is wro

[2014-07-04 15:36] dewiestr opened #344 "OpenIOC report request"
I was wondering of an OpenIOC report was considered by anyone in the near future. My plan is to use it in this  project: https://github.com/MISP/MISP. A lot of organisations use both tools, so I think this would be a great feature.

[2014-07-07 11:17] 0ca opened #345 "Bug moving the mouse"
Hi,
The problem is in this module:
https://github.com/cuckoobox/cuckoo/blob/master/analyzer/windows/modules/auxiliary/human.py

[code]

After moving randomly the mouse in the function `move_mouse()`, the mouse position is set to a fix position to do a click in the function `click_mouse()`:

[code]

And then the module makes a sleep of a second `KERNEL32.Sleep(1000)`.

The problem is that the mouse

[2014-07-08 09:33] #345 closed, assigned to nobody

[2014-07-08 09:35] #337 closed, assigned to nobody

[2014-07-08 09:37] #341 closed, assigned to nobody

[2014-07-08 09:38] #338 closed, assigned to nobody

[2014-07-08 09:41] #328 closed, assigned to nobody

[2014-07-08 09:42] #329 closed, assigned to nobody

[2014-07-08 09:44] #242 closed, assigned to nobody

[2014-07-08 09:45] #235 closed, assigned to nobody

[2014-07-09 18:11] jhumble opened #347 "Unable to Add Tasks with Long File_Types"
in ./lib/cuckoo/core/database.py the Sample schema defines file_type as a String of max length 255. However, doc files will occasionally have file_types exceeding 255 characters (see below).

We never noticed an issue before when we were using MySQL because it will just truncate the string at 255 chars. However, we recently switched over to Postgres, and it will actually throw an error, preventing

[2014-07-11 18:30] unixfreak0037 opened #349 "config logic error for values of "0" and "1""
The code that loads the configuration values first tries to parse them as booleans in a try/catch, then integers in a try/catch, then finally a string.  Python interprets "1" and "0" as boolean, which isn't what you'd want.

I thought about this as a hack (from lib/cuckoo/common/config.py),

[code]

... to keep with the logic, but that's kinda ugly.

[2014-07-15 16:15] jhumble opened #354 "rundll32 won't run dll files without ".dll" extension"
For dll files without the .dll extension, Cuckoo will correctly select the dll package based off mime type. However, once the analyzer tries to run the file with Rundll32 it will fail because Rundll32 will not execute dlls without the extension.

I addressed this locally by just adding code to the dll package to rename the file, adding the dll extension if needed. Using os.rename to do that has th

[2014-07-28 17:33] SwissKid opened #358 "Cuckoo fails to store in standard MongoDB with certain reports"
`2014-07-28 10:23:16,041 [lib.cuckoo.core.plugins] ERROR: Failed to run the reporting module "MongoDB":`
`Traceback (most recent call last):`
`File "/home/cuckoo/cuckoo/lib/cuckoo/core/plugins.py", line 499, in process
    current.run(self.results)`
`File "/home/cuckoo/cuckoo/modules/reporting/mongodb.py", line 195, in run
    self.db.analysis.save(report)`
`File "/usr/lib/python2.7/dist-packages/

[2014-07-29 10:45] wbbigdave opened #359 "Connection Failure at / 500 Connection Refused"
I am trying to use Django as the WebUI for Cuckoo, but i receive a 500 when connecting to the server.

I have installed python-gridfs as per issue #237 but still cannot load the WebUI

Environment:

Request Method: GET
Request URL: http://10.10.20.49:8000/

Django Version: 1.6.5
Python Version: 2.7.6
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.s

[2014-07-30 10:02] 0ca opened #360 "The sniffer module always uses the global result server ip"
Hi,
The sniffer module at:
modules/auxiliary/sniffer.py
It's using the global result server ip established in the cuckoo.conf, `resultserver.ip`.

But if you set this result_server to 0.0.0.0 in the global config and you override this value in an individual VirtualMachine config in the file virtualbox.conf with an entry `resultserver_ip`, the sniffer module doesn't use this value, continues using

[2014-07-30 16:55] jcannell opened #361 "Failed to run ProcessMemory"
2014-07-30 09:50:58,251 [lib.cuckoo.core.plugins] ERROR: Failed to run the processing module "ProcessMemory":
Traceback (most recent call last):
  File "/home/[username]/cuckoo/lib/cuckoo/core/plugins.py", line 184, in process
    data = current.run()
  File "/home/[username]/cuckoo/modules/processing/procmemory.py", line 21, in run
    for dmp in os.listdir(self.pmemory_path):
OSError: [Errno 2]

[2014-08-01 08:55] 0ca opened #364 "Multiples errors in sqlalchemy queuing analysis with tags"
Hi,
I'm doing tests with different machines and the option `--tags`. I want to have different machines with different OS and with the option `--tags` select in which machine make each analysis.

For example, I have two machines in `virtualbox.conf`:

[code]

And the I send two analysis to one of the machines, XP sp2:

[code]

In this point I execute cuckoo.py and I get this log with errors in SQLa

[2014-08-01 13:34] #361 closed, assigned to nobody

[2014-08-03 00:00] #317 closed, assigned to nobody

[2014-08-03 00:01] #239 closed, assigned to nobody

[2014-08-06 07:31] Thorsten-Sick opened #365 "Long processing of samples caused by large raw logs"
Some Samples (especially Adware) cause large raw API logs. Processing those wastes minutes to hours. The resulting json is about 300 MB large. There is an option to not process large logs at all, good, but not perfect.
But a second option to restrict the number of processed API calls for each process would reduce processing time and result size. And we would have at least something in the logs, ju

[2014-08-07 18:56] seanthegeek opened #367 "Uploading a sample, deleting it after reporting is complete, and re uplaoding via HTTP API causes an error in Cuckoo 1.1"
[lib.cuckoo.core.scheduler] ERROR: Failure in AnalysisManager.run
Traceback (most recent call last):
  File "/home/cuckoo/cuckoo/lib/cuckoo/core/scheduler.py", line 372, in run
    success = self.launch_analysis()
  File "/home/cuckoo/cuckoo/lib/cuckoo/core/scheduler.py", line 257, in launch_analysis
    guest.start_analysis(options)
  File "/home/cuckoo/cuckoo/lib/cuckoo/core/guest.py", line 145,

[2014-08-08 10:21] 0ca opened #369 "Bug in processing module network.py checking private ip"
In network.py there is a bug calculating the high network range:
Original

[code]

Fix:

[code]

In the original code with a network /12 the binary OR is calculated with 0b1000000000000, and not with the expected value 0b111111111111. There's a problem with the precedence.

Cheers!

[2014-08-08 10:40] ch40s opened #370 "Add search or improve filter capabilities under behavioral analysis in web interface"
A search option or a better filter capability would be really helpful to find something specific when the pages with the results are many.

[2014-08-13 02:50] freetink3r opened #371 "process.dump_memory not capturing process memory"
I'm trying to analyze a process memory dump using procmemdump=yes, which produces a file called cuckoo/storage/analyses/<n>/memory/<pid>.dmp.  However, the function dump_memory in cuckoo/analyzer/windows/lib/api/process.py is not correctly grabbing the process memory space.  The problem seems to be with the following conditional:

[code]

As an example, I ran notepad.exe, and these are the section

[2014-08-13 03:10] freetink3r opened #372 "process memory dump is not contiguous"
The process memory dump (generated by procmemdump=yes) does not indicate the starting base address of the dumped memory and the dumped memory is not necessarily a contiguous chunk.  I'm baffled as to how this memory dump would be useful to anyone, but it is possible I am misunderstanding the intentions of the feature.  I would expect the process memory dump file to at least include the starting ad

[2014-08-13 18:18] TheInternetIsReal opened #373 "Cucko processes/api section missing things process monitor sees."
Hello,

First of all, I love using Cuckoo! The processes section along with automation and ease of use opens up a whole new world for writing host based IDS/IPS rules.

That said, I believe Cuckoo is missing API calls or behaviors that process monitor (another api style logger) is seeing. I'm not entirely sure how these two different tools align and what they look for, but for what it's worth, Cuc

[2014-08-13 18:22] TheInternetIsReal opened #374 "Functions not in "Imports" section, but obviously used and in "Strings" section."
Not sure if this is a bug or just how the program works, but this is what I see when I test with mimikatz.exe:

SAMLIB.DLL
IMPORTS:
Library SAMLIB.dll:
• 0x415254 - SamCloseHandle
• 0x415258 - SamConnect
• 0x41525c - SamOpenDomain
• 0x415260 - SamOpenUser
• 0x415264 - SamEnumerateUsersInDomain
• 0x415268 - SamFreeMemory
• 0x41526c - SamQueryInformationUser

STRINGS:
SamQueryInformationUser
SamClos

[2014-08-14 12:17] #369 closed, assigned to jekil

[2014-08-15 02:57] #372 closed, assigned to nobody

[2014-08-15 08:34] #359 closed, assigned to jekil

[2014-08-19 12:41] ch40s opened #376 "Memory dump file downloadable from the web dashboard"
Just an idea, what about providing a Download button for the memory dump file from the web gui? That would be much more convenient.

[2014-08-20 09:45] #349 closed, assigned to botherder

[2014-08-20 09:55] #354 closed, assigned to botherder

[2014-08-20 13:03] Newpid0 opened #377 "HTML report fails generation."
HTLM report fails to generate with "Warning: The reporting module "ReportHTML" returned the following error:Failed to generate HTML report: "
Version 1.2-dev only seems to happen when json gets large: json file is 440 MB.

[2014-08-21 11:43] dewiestr opened #378 "Documentation: Current requirements mention the use of yara 1.7 or above"
the error_on_warning parameter was only added in yara 1.7.2 , which should be the lowest version.

[2014-08-21 12:29] #371 closed, assigned to jbremer

[2014-08-21 12:40] #343 closed, assigned to jbremer

[2014-08-29 13:57] mihairo opened #384 "Interoperability issues with volatility"
I have the following setup with cuckoo and volatility: Ubuntu Desktop 12.0.4 installed under an esxi server with virtual box installed under Ubuntu. Under Ubuntu, I've installed the needed resources for Cuckoo(version 1.1) and volatility(2.4) to work as the documentation requires it. Windows7 SP1 x86 is the sandboxing environment installed.
When I run cuckoo with memory analysis enabled I get the

[2014-09-01 07:46] #384 closed, assigned to nobody

[2014-09-03 00:21] moonlightelite opened #385 "ResultServer should use epoll instead"
Hello, I am running cuckoo sandbox with 100+ VMs, and I notice that ResultServer's call to select.select() is occasionally out of file descriptors (The exact error is ValueError: filedescriptor out of range in select() as select() is limited to 1024 FDs (ps. I thought Linux doesn't have this per process limitation?) ).

May I propose using epoll instead? Something like the following. I tested this

[2014-09-05 15:36] waqasjamal-zz opened #386 "ImportError: No module named lib.cuckoo.common.constants"
Hi,

On running web server using "python manage.py runserver 0.0.0.0:8000" i am seeing the exception/error log. Which you can see here.

[code]

P.S: I got this error after I stopped the web server and used clean.py to clean all the analysis stuff. First I was having database related error which i got rid of by editing local_settings.py

Any idea what I am missing here?

[2014-09-15 15:33] GelosSnake opened #387 "agent.pyc RuntimeError: Bad magic number in .pyc file"
trying to run agent.pyc under:
windows xp version 2002 SP3 / python 2,7
After noticing the agent is not running I try to run it from cmd getting the error:
RuntimeError: Bad magic number in .pyc file
Running the agent with normal agent.py it seems to run without any problems

Anyone seen this problem before?

edit:
Of course it should be pyw not pyc.
Closing sorry

[2014-09-15 15:46] #387 closed, assigned to nobody

[2014-09-16 14:10] #367 closed, assigned to botherder

[2014-09-26 11:19] dewiestr opened #389 "Excel file getting no package"
I'm currently getting the wrong package assignment ( the default one) for excel files without extensions.

Can this be confirmed ?

[2014-09-30 00:14] botherder opened #390 "No behavior logs when process_results is disabled"
If process_results is set to Off in cuckoo.conf, there are no .bson behavior logs generated and therefore the reports are empty.

[2014-10-10 12:28] botherder opened #394 "Verify whether the full path can be removed from analysis.conf"
The full path in the analysis.conf within the guest should be useless to the analyzer, let's see if we can remove it. Reference:
https://blog.gdatasoftware.com/blog/article/cuckoo-sandbox-evasion-poc-available.html

[2014-10-15 10:58] mmogilko opened #395 "Volatility error"
Hi all!
This  issue has been described before, but never described its concrete solution. All dependencies are installed, different versions of cuckoo and volatility (stable, development, from source and repo) are tried, but the problem persists.
Сockoo was deployed by this manual: https://translate.google.com.ua/translate?hl=ru&sl=ru&tl=en&u=http%3A%2F%2Fhabrahabr.ru%2Fpost%2F234467

OS: Ubuntu 1

[2014-10-16 21:23] #386 closed, assigned to jekil

[2014-10-16 21:49] #360 closed, assigned to jekil

[2014-10-19 16:36] knqyf263 opened #396 "HTML report fails generation when static is disabled in processing.conf"
If `static` is set to `no` in processing.conf, HTLM report fails to generate with the following warning.

[code]

[2014-10-19 17:15] knqyf263 opened #398 "Failed to run the reporting module "MongoDB" when dropped is disabled in processing.conf"
If `dropped` is set to `no` in `processing.conf`, MongoDB fails to run with the following errors.

[code]

I think that this module does not check for a key in a data structure.

[2014-10-21 06:22] #396 closed, assigned to jekil

[2014-10-21 06:22] #398 closed, assigned to jekil

[2014-10-21 06:31] #378 closed, assigned to botherder

[2014-10-27 18:12] cptkaos78 opened #400 "targetpath = os.path.join(tmppath, "cuckoo-tmp") fails with 'NoneType' object has no attribute 'endswith'"
This might not be a bug per se but tmppath could be missing a "/" - any pointers?

[2014-10-29 21:54] #307 closed, assigned to jekil

[2014-10-29 21:55] #364 closed, assigned to jekil

[2014-11-07 14:47] wbenny opened #406 "Package.execute does not return PID when "No injection" is checked"
This leads in:
INFO: No process IDs returned by the package, running for the full timeout.

Solution is remove "return p.pid" line from the "if" block.

[2014-11-11 10:27] #406 closed, assigned to nobody

[2014-11-13 19:22] seanthegeek opened #409 "'Settings' object has no attribute 'MONGO_HOST' from Django app"
When trying to use the Django app in 1.2-dev, it returns

'Settings' object has no attribute 'MONGO_HOST'

Even after I tried adding it in local_settings.py, and still got the error.

It probably should just use the mongo host and port settings from reporting.conf

[2014-11-21 04:28] sunilkr opened #413 "%TEMP% pah conflict with shellcode"
Found a shellcode that creates a new(uninfected) file with name of infected file in %TEMP% and open it.

Cuckoo copies the file to %TEMP% and opens from there. The file is locked while exploit+shellcode is running.

1. Shellcode create uninfected version of file in memory.
2. CreateFile fails because cannot open for writing(locked).
3. WriteFile fails becuase of CreateFile failed.
4. Shellcode ope

[2014-11-25 22:08] #400 closed, assigned to nobody

[2014-11-25 22:44] #409 closed, assigned to jekil

[2014-11-28 22:46] kkleemola opened #415 "Documentation: Requirements: Minimum Yara Release"
Related to: https://github.com/cuckoobox/cuckoo/issues/378

The error_on_warning parameter is used when compiling yara rules.
This parameter was actually only added in yara 2.1.0, but the docs list 1.7.2 as the minimum requirement.
See: https://github.com/plusvic/yara/releases
(I also confirmed myself that 2.1.0 has the parameter while earlier versions don't)

[2014-12-01 09:34] #415 closed, assigned to nobody

[2014-12-01 09:45] #374 closed, assigned to botherder

[2014-12-02 15:40] dewiestr opened #416 "Minimum esx license"
Hi,

I recently found out (the hard way) that the ESX Hypervisor ( free ) version does not support the vSphere API, which Cuckoo uses as interface. Does anyone know ( maybe this can be inserted into the documentation) what the minimum license version of vSphere is ? And Maybe we could switch to a custom script ( not via libvirt) that uses SDK ( which is supported by the free version) ?

Regards

[2014-12-03 19:24] henriquemenezes opened #419 "Add url callback in the Cuckoo REST API (/tasks/create/file and /tasks/create/url)"
Add a field callback to resources (/tasks/create/file and /tasks/create/url) on REST API.
This field can be used to report the a finished analysis.

[2014-12-09 13:21] botherder opened #423 "Fix the check on permissions on tcpdump"
As I merged the fix from @brad-accuvant on `sniffer.py`, the module isn't actually working anymore.

The following isn't actually working when tcpdump is enabled through the use of the `setcap` command:
    mode = os.stat(tcpdump)[stat.ST_MODE]
    if (mode & stat.S_ISUID) == 0:

We need to devise a way to make this permissions check both for suid and cap enabled tcpdumps.

[2014-12-15 13:00] #370 closed, assigned to jekil

[2014-12-15 13:00] #376 closed, assigned to botherder

[2014-12-15 16:42] stevengoossensB opened #426 "KVM VM does not start"
Hi,

I have a problem with the default libvirt implementation and the override ivm.py is doing. It seems that the method to restore the snapshot in the libvirt API does not automatically start the VM after restoring. This creates the issue that cuckoo is restoring the snapshot, but is not starting the VM. When I manually start the VM while Cuckoo is waiting for it, everything after that goes well.

[2014-12-24 17:43] teknition opened #429 "Volatility: Generic error excuting volatility"
I thought I configured it correctly, this error would say otherwise. Before installing Volatility, I installed the dependencies, Distorm3, Yara, Yara-python, PyCrypto, PIL, and GMP.

the error happens on different lines no matter what modules I enable or disable. The only error in common is line 830, which is the vol.run()

2014-12-24 10:24:33,816 [modules.processing.memory] ERROR: Generic error e

[2014-12-24 18:45] #429 closed, assigned to nobody

[2014-12-31 22:44] efnunes opened #431 "Warning: Unable to import Pydeep and yara ?"
Although I have yara and pydeep it always gives me the warning that it is unable to import them.

Thanks,
Eric

[2015-01-08 04:16] efnunes opened #433 "Warning: Cannot allocate Memory : Virtual box shuts off"
Hi,
I was able to schedule and run many malware samples without any issues on cuckoo. But now I get a warning :
1.Unable to stop machine windows: VBoxManage failed powering off the machine: [Errno 12] Cannot allocate memory
2. VBoxManage failed to check status for machine windows: [Errno 12] Cannot allocate memory
After this the virtual box just shuts off , and no further analysis takes place. If

[2015-01-08 12:36] botherder commented on #433
Might it be that you're running out of memory?
Set the max_analysis_count to like 10 and have a runit script that keeps Cuckoo running.

[2015-01-09 00:43] efnunes commented on #433
I figured it out, there were some issues with the guest additions , since I changed the path of the windows image file , it was not able to find it. I changed the path and that fixed it .

[2015-01-09 01:21] #433 closed

[2015-01-10 19:48] botherder commented on #431
I'm sorry but that's a problem with your installation.

[2015-01-10 19:48] #431 closed

[2015-01-13 09:17] wbenny opened #437 "Non-general connection to SQL"
It's not possible to use any other SQL engine but SQLite after this commit: https://github.com/cuckoobox/cuckoo/commit/9ac01a2cc8bde8fe8891ec0c19e3eeb021e93e6d , since "check_same_thread" is SQLite-specific.

[2015-01-13 11:38] rep commented on #437
we know, yeah - it's about to be generalized. thanks for creating the issue for it!

[2015-01-14 17:49] dforce opened #438 "Comments"
Is there a possibility to add some kind of comment field in the web interface, so we can add comments after an analysis is done, additional comments regarding the analyzed file. And also the possibility to store this within the mongodb ?

[2015-01-15 10:00] voleg commented on #426
+1

[2015-01-15 14:15] voleg commented on #426
temporary workaround:

[code]

[2015-01-15 23:23] jekil commented on #438
Not yet. Is this a feature request?

[2015-01-16 06:16] dforce commented on #438
Yes, if possible.

[2015-01-19 15:09] chipitsine opened #440 "cuckoo crashes on nested archive"
https://yadi.sk/d/OKmYKd_me6KzC - "sweeteners.zip" containing sweeteners.zip inside.
cuckoo dies

[2015-01-21 15:40] SteveClement opened #442 "Connection Pooling issues when using MySQL"
Dear,

I had to bump the pool_size in: https://github.com/cuckoobox/cuckoo/blob/master/lib/cuckoo/core/database.py for the MySQL connection (which is a fall-through if… yep rather ugly)

This fixed it: self.engine = create_engine(connection_string, pool_size=50, max_overflow=-1)

Default seems to be, pool_size=5 max_overflow=10 (-1 disables max overflow)

This was the Issue in Debug:

2015-01-21 1

[2015-01-21 16:36] jekil commented on #442
I can confirm, i am working on this since yesterday. It happen with postgres too

[2015-01-21 17:22] #304 closed

[2015-01-21 17:22] #377 closed

[2015-01-21 17:24] botherder commented on #302
Should have been fixed with #412

[2015-01-21 17:24] #302 closed

[2015-01-21 18:20] brad-accuvant commented on #342
Very likely this bug, given that the binary has no static imports for wininet.dll: https://github.com/brad-accuvant/cuckoomon-modified/commit/05060e8cda7fb3694cbd73ff799ad2cda24325f5

[2015-01-22 17:34] Regala opened #445 "HTML Report fails"
Not sure if this is relevant, but when the module [targetinfo] = no, HTML reporting fails (e.g. json does not return debug, target info and others) since the templates do not consider this case.

[2015-01-22 23:12] jekil commented on #445
Confirmed, thanks for reporting

[2015-01-22 23:37] #445 closed

[2015-01-22 23:56] jekil commented on #440
Confirmed, thanks for reporting.

[2015-01-23 00:03] jekil commented on #437
Now "check_same_thread" is used only if dbms is sqlite

[2015-01-23 00:03] #437 closed

[2015-01-24 21:38] jekil commented on #419
Closed as duplicates #420

[2015-01-24 21:39] #419 closed

[2015-01-25 00:05] #440 closed

[2015-01-25 18:59] jekil commented on #347
This issue was closed, file type field is now Text()

[2015-01-25 18:59] #347 closed

[2015-01-25 21:36] jekil commented on #426
Thanks for reporting, i am investigating on it.

[2015-01-25 21:52] jekil commented on #395
Confirmed, thanks for reporting.

[2015-01-25 22:01] jekil commented on #395
It seems an error generated by volatility and not related to cuckoo https://github.com/volatilityfoundation/volatility/blob/c77f6854d3a03b21350569ef8e5af34048d71bd6/volatility/plugins/malware/svcscan.py#L123
Still investigating..

[2015-01-25 22:09] jekil commented on #389
@dewiestr can you please provide some feedback? thanks

[2015-01-25 22:31] jekil commented on #416
@KillerInstinct already answered, thanks.
I added a general paragraph about this to the documentation, but for us it is hard to follow VMware marketing and license plans changes, so I added only a generic statement.

[2015-01-25 22:31] #416 closed

[2015-01-26 07:14] dewiestr commented on #416
After a couple of ping-pong mails to the vmware support, I finally found out which license is needed. Seeing that, all you need for cuckoo is the vSphere API, you should have one of the following versions:

http://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2001113 <http://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externa

[2015-01-27 00:27] jekil opened #449 "Screenshoot issue in IE11"
There is a lightbox relatad bug when using IE

[2015-01-28 06:45] supahal opened #450 "ERROR: Unable to connect to machine {xxxxx}"
2015-01-28 14:42:10,935 [lib.cuckoo.core.scheduler] INFO: Starting analysis of FILE "/tmp/cuckoo-tmp/upload_3Bk4VB/b2191cff53a1b3924b1468daf009958755dee43c7865cbcbfb13bc6867f27162" (task=8)
2015-01-28 14:42:10,960 [lib.cuckoo.core.scheduler] INFO: File already exists at "/home/tmirt/tools/cuckoo/storage/binaries/b2191cff53a1b3924b1468daf009958755dee43c7865cbcbfb13bc6867f27162"
2015-01-28 14:42:10,

[2015-01-28 22:32] #449 closed

[2015-01-31 16:21] jekil commented on #450
Is this happened only one time or is it recurring? What version of ESXi are you using? Please add more details.

[2015-01-31 16:35] jekil commented on #442
Should be solved now. I hope someone can test it in an high load installation.

[2015-01-31 16:50] jekil commented on #390
Now seems to work (i mean it creates .bson files)

[2015-01-31 16:51] jekil commented on #389
@dewiestr without a test case sample we are unable to reproduce your issue

[2015-01-31 22:36] jekil commented on #426
I run some tests with latest Xubuntu and i am unable to reproduce the bug. Can you please add more details? (OS, libvirt version, etc.)

[2015-02-01 06:45] KillerInstinct opened #453 "cuckoo.py --clean Database() logging handler doesn't work"
When we run --clean we are unable to catch errors due to not initializing the log handler (since we are deleting the logs) The hacky fix is to try to clean the database first with a try/catch to log errors before we delete the logs. This way we can at least output to stdout.

[2015-02-01 06:52] KillerInstinct commented on #453
Below is a better representation of my hacky fix above. :)
[code]

[2015-02-01 07:00] KillerInstinct opened #454 "cuckoo.py --clean Dababase error (MySQL)"
Firstly, I'm currently testing with MySQL, not sure if there are similar issues with SQLite or Postgres.

Seems we have a FK conflict when attempting to drop tasks, because we are not dropping the guests table first:

[code]

The samples table drop subsequently fails since the task table is not dropped.

[2015-02-01 08:00] KillerInstinct commented on #426
If I'm reading your issue correctly, it seems to have shut your VM down before taking the snapshot. The snapshot should be taken when the VM is On and the agent is listening, per the documentation.

[2015-02-01 08:47] jekil commented on #454
Yes, it's true. I think @skier developed this "clean" with sqlite which doesn't take care of FK. I am going to fix this hopefully today. Thanks for reporting.

[2015-02-01 18:02] KillerInstinct commented on #454
https://github.com/cuckoobox/cuckoo/pull/455 should take care of MySQL, and I'm assuming Postgres, but may require further testing.

[2015-02-01 21:48] jekil commented on #453
Uhm, this is not working, because you are logging (for example in the last line) to a deleted file anyway.
I got:
IOError: [Errno 2] No such file or directory

[2015-02-01 21:49] #453 closed

[2015-02-01 22:14] #454 closed

[2015-02-03 05:52] supahal opened #458 "InvalidDocument: documents must have only string keys, key was 20011"
2015-02-03 13:30:21,214 [lib.cuckoo.core.plugins] ERROR: Failed to run the reporting module "MongoDB":
Traceback (most recent call last):
  File "/root/AL/cuckoo/lib/cuckoo/core/plugins.py", line 501, in process
    current.run(self.results)
  File "/root/AL/cuckoo/modules/reporting/mongodb.py", line 221, in run
    self.db.analysis.save(report)
  File "/usr/local/lib/python2.7/dist-packages/pymon

[2015-02-03 07:58] oklimemilko opened #459 "zip file analysis problem"
I submitted a .zip archive for analysis and I get the following error:

2015-01-22 14:28:35,613 [lib.cuckoo.core.scheduler] ERROR: Analysis failed: The package "modules.packages.zip" start function raised an error: Unable to execute the initial process, analysis aborted.

OS: Debian GNU/Linux 7 (wheezy)
Linux cuckoo-server 3.2.0-4-amd64 #1 SMP Debian 3.2.63-2+deb7u1 x86_64 GNU/Linux
Cuckoo Sandbox

[2015-02-03 08:29] supahal opened #460 "Exception on process.py after cuckoo clean up"
Traceback (most recent call last):
  File "./process.py", line 124, in <module>
    main()
  File "./process.py", line 117, in main
    process(args.id, report=args.report)
  File "./process.py", line 26, in process
    results = RunProcessing(task_id=aid).run()
  File "/home/tmirt/tools/cuckoo/utils/../lib/cuckoo/core/plugins.py", line 142, in __init__
    self.task = Database().view_task(task_id

[2015-02-03 08:35] #460 closed

[2015-02-03 22:35] jekil commented on #458
Thanks for reporting. Could you please provide more information? The sample or a test case we can use would be great.

[2015-02-03 22:36] jekil commented on #459
Thanks for reporting. It depends from the zip. Could you give more information?

[2015-02-04 02:57] supahal commented on #458
Basic test case:
1. Submit analysis
2. once the process is done, run cuckoo clean (python cuckoo.py --clean)
2. Run process.py -d -r {recent analysis}

This will duplicate the error.

[2015-02-04 06:17] supahal opened #462 "Database error"
DEBUG:lib.cuckoo.core.database:Database error viewing task: (OperationalError) (2006, 'MySQL server has gone away') 'SELECT tasks.id AS tasks_id, tasks.targe
t AS tasks_target, tasks.category AS tasks_category, tasks.timeout AS tasks_timeout, tasks.priority AS tasks_priority, tasks.custom AS tasks_custom, tasks.ma
chine AS tasks_machine, tasks.package AS tasks_package, tasks.options AS tasks_optio

[2015-02-04 06:19] supahal commented on #458
I encountered this error where processing:
SHA1: 59bce26cabe6f6a387a9b54b53a8b605ae162466

process_result should be off.

[2015-02-04 08:45] supahal opened #463 "Process failed when submitting URL"
Traceback (most recent call last):
  File "./process.py", line 124, in <module>
    main()
  File "./process.py", line 115, in main
    autoprocess(parallel=args.parallel)
  File "./process.py", line 83, in autoprocess
    sample = db.view_sample(task.sample_id)
  File "/home/tmirt/tools/cuckoo/utils/../lib/cuckoo/common/utils.py", line 267, in inner
    return f(self, *args, **kwargs)
  File "/ho

[2015-02-04 08:49] supahal commented on #463
Just found out:
Upon checking tasks db.

ID     | Category| Status | Samle Id
| 107 | url      | completed |      NULL |
| 108 | url      | completed |      NULL |

this will produce exception.

[2015-02-04 19:46] jekil commented on #463
Confirmed bug, thank you very much for reporting. I am going to fix it.

[2015-02-04 21:51] jekil commented on #462
The error "MySQL server has gone away" is typical when there are issues with mysql server (i.e. server down, process restarting), could you check please?

[2015-02-04 21:56] mist3r0 opened #465 "CuckooCriticalError: Please update your configuration. Unable to shut 'cuckoo' down or find the mach..."
I created an Ubuntu-14.04.1-desktop-amd64 VM on my Laptop [Network Conf. NAT (IP: 192.168.255.128/24)] using VMware.

Within Ubuntu I installed VirtualBox and I created a Windows XP VM. [Network Conf. HOST-Only: IP 192.168.56.101]

Ubuntu VM and Windows XP are able to ping each other.

But when I try to run Cuckoo i receive the following error:

[root] CRITICAL: CuckooCriticalError: Please update

[2015-02-04 23:57] jekil commented on #465
You probably did a wrong setup, please check the documentation again, if the issue persist please use community platform. (This issue tracker is only for bugs)

[2015-02-04 23:57] #465 closed

[2015-02-05 00:11] jekil opened #466 "Virustotal module freeze if used in process.py"
Urllib2 call in virustotal module il blocking and freeze when called with apply_async(). It needs investigation.

[2015-02-05 00:11] #463 closed

[2015-02-05 01:44] supahal opened #467 "Database error when updating tasks status"
INFO:root:Processing analysis data for Task #111
ERROR:root:Exception when processing task ID 111.
Traceback (most recent call last):
  File "./process.py", line 59, in autoprocess
    ar.get()
  File "/usr/lib/python2.7/multiprocessing/pool.py", line 558, in get
    raise self._value
AssertionError
DEBUG:lib.cuckoo.core.database:Database error setting status: (DataError) (1265, "Data truncated fo

[2015-02-05 03:16] supahal commented on #467
It falls under #Pending_results maintenance.

[2015-02-05 03:24] supahal commented on #467
1. Submit sample, process_result should be separate thread
2. process.py -dr -p 10 auto

once the analysis task is done.
2015-02-05 09:57:11,115 [lib.cuckoo.core.scheduler] DEBUG: Released database task #112 with status True
2015-02-05 09:57:11,115 [lib.cuckoo.core.scheduler] INFO: Task #112: analysis procedure completed

exception will occur on process.py

[2015-02-05 09:24] oklimemilko commented on #459
what else you need ?

[2015-02-05 20:14] jekil commented on #459
Do you tested on latest master release? Could you (privately by mail) share the sample?

[2015-02-05 20:29] jekil commented on #467
Thanks of reporting.
I can't reproduce your bug so more information are needed (i.e. are you running latest master release, the issue happens for every task, do you tried to clean and delete the database).

[2015-02-05 22:09] mist3r0 commented on #465
Ciao Alessandro,

ho seguito la guida passo passo.
Il problema potrebbe essere una doppia virtualizzazione?
Sapresti darmi qualche consiglio relativo a quale parte delle
configurazione ricontrollare?

Saluti,
Il 05/feb/2015 00:57 "Alessandro Tanasi" <notifications@github.com> ha
scritto:

[2015-02-05 23:19] jekil commented on #466
It happens only on Mac (yosemite)

[2015-02-06 07:49] oklimemilko commented on #459
yes I could. Please give me your email address, or send mail for me.

[2015-02-06 22:36] jekil commented on #458
I run the sample  with latest cuckoo from master and process_result=off a I did not get the error. So more investigation is needed from you. Can you please try with latest release and with clean DBs?

[2015-02-07 19:22] #389 closed

[2015-02-07 19:22] botherder commented on #389
Closed until the submitted provides more information.

[2015-02-07 22:26] supahal commented on #467
I running latest master release with --clean db feature.
Still producing the bug.

DEBUG:lib.cuckoo.core.database:Database error setting status: (DataError) (1265, "Data truncated for column 'status' at row 1") 'UPDATE tasks SET status=%s WHERE tasks.
id = %s' ('failed_processing', 1L)
INFO:root:Processing analysis data for Task #1
ERROR:root:Exception when processing task ID 1.
Traceback (most re

[2015-02-07 22:28] supahal commented on #467
1. python cuckoo.py --clean
2. python cuckoo.py -d
3. python process.py -dr -p 10 auto

malware sha256=7b217450c2b15609025d09ade7580f38b20912d0b4f961eadb3dad3148feab5d

[2015-02-07 22:40] supahal commented on #467
upon checking the db,
'UPDATE tasks SET status='failed_processing' WHERE tasks.id = 1'

but status type is  enum('pending','running','completed','reported','recovered')

[2015-02-08 06:59] supahal commented on #467
This is an update.
Already did setup latest cuckoo revision, with mysql connection and process_result=off

Still having problem on auto process.

INFO:root:Processing analysis data for Task #3
ERROR:root:Exception when processing task ID 3.
Traceback (most recent call last):
  File "./process.py", line 59, in autoprocess
    ar.get()
  File "/usr/lib/python2.7/multiprocessing/pool.py", line 558, i

[2015-02-08 23:58] jekil commented on #467
Thanks, i will check tomorrow with the same setup.

[2015-02-09 03:45] chriscard9 commented on #459
ots still npt shire if I jave it enuff.time to let it roll
On Feb 5, 2015 12:15 PM, "Alessandro Tanasi" <notifications@github.com>
wrote:

share the sample?

[2015-02-09 19:01] jekil commented on #459
@oklimemilko alessandro@lonerunners.net (thanks a lot)

[2015-02-10 16:31] jcannell opened #469 "'nogui' mode for workstation 11 not working properly"
Hello,

I've used vmware WS as my machine manager for awhile with cuckoo. I upgraded to vmware WS11, but I noticed that there is an issue with running cuckoo VMs in the 'nogui' mode.

Here is what I've observed:
1. If I have at least one vmware window open, a new window is created for each new new analysis task submitted to cuckoo. This obviously creates a ridiculous amount of windows if you're pr

[2015-02-10 18:02] begosch commented on #467
I am also having a similar issue.  Maybe it is related to the @classlock decorator?

2015-02-10 08:51:52,782 [lib.cuckoo.core.scheduler] INFO: Task #1: analysis procedure completed
INFO:root:Processing analysis data for Task #1
DEBUG:lib.cuckoo.core.database:Database error listing tasks: This result object does not return rows. It has been closed automatically.
WARNING:sqlalchemy.pool.QueuePool:Er

[2015-02-11 19:15] jekil commented on #467
Guys, it doesn't happen to me, so i need some help to reproduce this. More details you give, better is. Which db? Does It happen random? Does it happen at the first analysis or the 1000nd? How many sample do you run to triggger it?

[2015-02-11 20:34] jekil commented on #469
Thanks for reporting it. If you are able to investigate this will help a lot.

[2015-02-11 20:39] jekil commented on #459
As report by mail, the sample contains only a text file.

[2015-02-11 20:39] #459 closed

[2015-02-12 01:11] moonlightelite commented on #385
Sorry for the late response.

I don't know if I am using libvirt wrong or what, but it can't really handle 100+ connections reliably. Since Machinery generates a new libvirt connection object per _connect() call, I modified the code to grab conn from a connection object pool instead. This sort of work.

Also the libvirt folks are not very receptive to bug fixes (especially the ESX module)....

[2015-02-12 01:51] supahal commented on #467
Setup:
1. Latest master release of cuckoo
2. ./cuckoo.py --clean
3. Conf/cuckoo.py: process_result = off
4. Machine: ESX having 10 machines waiting for analysis task.
5. ./cuckoo.py -d and the other tab will ./process.py -drp 10 auto

Btw, im using mysql as my database.
mysql  Ver 14.14 Distrib 5.6.19, for debian-linux-gnu (x86_64) using  EditLine wrapper

[2015-02-12 01:54] supahal commented on #467
Does It happen random?
- No. It happened to me by the time cuckoo finished the analysis.

Does it happen at the first analysis or the 1000nd?
- Every analysis.

How many sample do you run to triggger it?
- I can duplicate it using any sample.

[2015-02-12 10:37] XayOn commented on #467
I probably can help a bit here, the problem is process.py is putting some analisys as "failed_processing"... a status wich is not correctly inserted into the ENUM in the database, here, have a look: https://github.com/cuckoobox/cuckoo/blob/master/lib/cuckoo/core/database.py#L273

=)

[2015-02-12 10:39] XayOn commented on #462
Same thing as I recently commented on your other bug: https://github.com/cuckoobox/cuckoo/issues/467

Adding those status to the enum in the mysql database should fix it for you. Or fixing database.py and doing a database migration

[2015-02-12 13:18] XayOn opened #470 "Disabling rescheduling adds inestability"
Rescheduling is used so that if cuckoo is killed or shut down in the middle of an analysis it can recover the task and restart it on restart.
The thing is, if you disable it, the tasks will be in "running" state forever.
That's kind of the expected result, but either way:
- Doc is not clear enough on that
- It's probably to be changed.

I think the correct way is to start using FAILED_ANALYSIS sta

[2015-02-12 21:38] jekil commented on #470
Thanks a lot for reporting it.

[2015-02-12 22:09] jekil opened #471 "Recursive analysis package selection"
For example: if a word document in zipped, and the zip is sent for analysis, it will fail.

[2015-02-12 23:09] jekil commented on #467
Uhm it could be, I tested it with sqlite which is not enforcing enum as mysql

[2015-02-13 15:10] SteveClement commented on #442
Is not solved. Again, it is a pooling issue with connections TO the dbServer.

[2015-02-13 15:51] jekil commented on #442
I got the some error with postgresql and #dc36ecf fixed. If the issue is still present on you setup please provide more details (how many concurrent analysis, mysql release, if the error occur every analysis, and so on). I will re-test it on mysql.

[2015-02-15 16:01] jekil commented on #467
@supahal Is it fixed now for you?

[2015-02-17 17:04] doomedraven opened #473 "'analysis_tags' is not a valid tag library: ImportError raised loading"
Error during template rendering

In template cuckoo/web/templates/analysis/overview/_signatures.html, error at line 1
'analysis_tags' is not a valid tag library: ImportError raised loading analysis.templatetags.analysis_tags: No module named hexdump
1 	{% load analysis_tags %}
2
3 	<style type="text/css">
4 	.signature {
5 	padding: 5px;
6 	padding-left: 10px;
7 	margin-bottom: 5px;
8 	}
9
10 	.si

[2015-02-17 18:21] brad-accuvant commented on #473
pip install hexdump

[2015-02-17 18:28] doomedraven commented on #473
@brad-accuvant  thanks, work :D

[2015-02-17 18:28] #473 closed

[2015-02-20 04:37] chipitsine commented on #440
I tried nested zip on http://malwr.com

https://malwr.com/analysis/MTcwYWE3NDVhMDAxNGY2NjkwYjZjY2ZlNjliZTA1Nzk/

it failed. is malwr.com still running old cuckoo ?

another question, I've looked through the code, I've no idea how it would behave if we encounter

1.zip --> 2.zip --> 1.zip --> 1.exe

so, maybe it's better not to check whether there nested zip, but extract zip into uniq (guid based n

[2015-02-22 20:16] mhanne0915 opened #475 "pool.py ERROR when running the processing.py (mySQL)"
Running processing.py separately produces the error below when using mySQL database.
mySQL version: mysql  Ver 14.14 Distrib 5.5.41, for debian-linux-gnu (x86_64)
command: ./processing.py auto -p 5

Infinite ERROR:
Traceback (most recent call last):
  File "./process.py", line 58, in autoprocess
    ar.get()
  File "/usr/lib/python2.7/multiprocessing/pool.py", line 558, in get
    raise self._valu

[2015-02-22 20:44] jekil commented on #475
thanks for reporting, could you please try after a git pull?

[2015-02-22 21:08] mhanne0915 commented on #475
thanks jekil, it's really fixed the AssertionError. Though the report generation has been completed, i still got a warning and error. See below ( just looking now on previous issues, if this problem was already fixed or mentioned) :

WARNING:sqlalchemy.pool.QueuePool:Error closing cursor: (2014, "Commands out of sync; you can't run this command now")
INFO:root:Processing analysis data for Task #1

[2015-02-22 21:10] jekil commented on #475
yeah i noticed that a couple of days ago and i am working on it to fix it in the better way

[2015-02-22 21:16] mhanne0915 commented on #475
oh i see. thanks again:)

[2015-02-22 21:20] jekil opened #476 "Error in process.py with mysql"
As reported in #475 :

WARNING:sqlalchemy.pool.QueuePool:Error closing cursor: (2014, "Commands out of sync; you can't run this command now")
INFO:root:Processing analysis data for Task #1
ERROR:root:Exception when processing task ID 1.
Traceback (most recent call last):
File "./process.py", line 58, in autoprocess
ar.get()
File "/usr/lib/python2.7/multiprocessing/pool.py", line 558, in get
raise

[2015-02-22 21:21] jekil commented on #475
I opened #476 so you are able to keep track of the status of the second bug

[2015-02-22 23:39] mhanne0915 commented on #475
ok got it :+1: thanks

[2015-02-23 03:31] mhanne0915 opened #477 "[dist.py] VARCHAR requires a length on dialect mysql"
Im trying to setup distributed cuckoo, however when i put DB connection as my parameter, I got this error:

-----------ERROR-------
Traceback (most recent call last):
  File "./dist.py", line 635, in <module>
    app = create_app(database_connection=args.db)
  File "./dist.py", line 597, in create_app
    db.create_all()
.....
....
....
sqlalchemy.exc.CompileError: (in table 'machine', column 'tag

[2015-02-23 04:43] jbremer commented on #477
You're right, thanks for the bug report.

[2015-02-23 04:54] #477 closed

[2015-02-23 05:15] mhanne0915 commented on #477
youre welcome jbremer :)

[2015-02-23 05:31] mhanne0915 opened #478 "distributed cuckoo - IOError: No such file or directory [machine 2]"
I setup distributed cuckoo (3 machines), i followed everything that has been written in the guide here: http://cuckoo.readthedocs.org/en/latest/usage/dist/#quick-usage

dist machine - host the mySQL server (cuckoo db) and runs dist.py,
machine 1 - only a cuckoo node (runs api.py, cuckoo.py and process.py)
machine 2 - only a cuckoo node (runs api.py, cuckoo.py and process.py)
machines 1 and 2 both

[2015-02-23 05:34] jbremer commented on #478
Each machine should have its own database. So either use "cuckoo1" and "cuckoo2" databases for the respective machines or have a localhost database on each machine.

Let me know if that works for you.

[2015-02-23 06:01] mhanne0915 commented on #478
hi jbremer, it works :100:  thanks so much for the help.

[2015-02-23 06:01] #478 closed

[2015-02-23 10:26] rep commented on #390
It was not directly related to process_results - but as @jekil mentioned it is not happening anymore anyways. I assume it was a buggy commit which has since been reworked / fixed.

Closing.

[2015-02-23 10:26] #390 closed

[2015-02-23 10:31] rep commented on #423
Nothing we should fix in cuckoo code. Could be mentioned in the documentation maybe. We could supply a launcher shell script that takes care of some of the environment stuff maybe, but imho this shouldn't live in python side.

[2015-02-23 10:33] rep commented on #413
Can you supply us with the sample / details of your setup so that we can test a possible fix when working on it?

[2015-02-23 12:56] sunilkr commented on #413
Unfortunately I cannot share the actual sample that caused the issue but i'll try to give a binary using the same sequence of calls as the shellcode.

[2015-02-23 13:14] rep commented on #395
It's not a critical error - just a warning log message. Doesn't break our results / logging in any way and there's not much we can do about it on the Cuckoo side.

Check with volatility if you suspect it's an issue in their code (which I don't think it is) - otherwise disregard.

Closing as won't fix.

[2015-02-23 13:14] #395 closed

[2015-02-23 13:21] rep commented on #385
To be honest at this point I don't really see a reason to make improvements on our side to this if there's a simple / easy fix of running several cuckoo instances, covering a maximum number of VMs each. Especially since you mention issues in the underlying libraries as well.

Distributing the load in the architecture design, rather than in our single python process, is actually the right way to go

[2015-02-23 13:21] #385 closed

[2015-02-23 13:32] jbremer commented on #373
Postponed this bug - it'll be fixed as part of various other improvements for version 1.3

[2015-02-23 13:34] rep commented on #458
We don't have enough information - for example exact cuckoo version used.

This might have been a temporary glitch on master branch. I can't reproduce - it works absolutely fine on my current setup, regardless of process_results setting.

So closing this as invalid.

[2015-02-23 13:34] #458 closed

[2015-02-23 13:34] jbremer commented on #385
Agreed, this is kind of pushing Cuckoo to the limits where that's not really necessary.
For what it's worth, I've had various Cuckoo setups with 20 to 40 VMs ;)

[2015-02-23 13:37] rep commented on #358
I retried to analyze the mentioned sample - everything worked like a charm, including mongo reporting with enabled volatility processing (memory analysis).

I suspect that this was related to even bigger behavior logs on this file with full networking / endpoints at the time. Indeed the report is quite huge right now but for me at least it fits in mongo.

Overall the statement is: while we know ab

[2015-02-23 13:47] rep commented on #426
Let me be the cleaner on this one. We can't reproduce and we don't have enough information anyways - this might have been a temporary glitch in the libvirt lib or our module for it - which has since been fixed.

Closing this, feel free to re-open if it happens again. With more details then, please :)

[2015-02-23 13:47] #426 closed

[2015-02-23 13:56] rep commented on #394
Tried to check on the file name in the analysis.conf, does not show a full path to me. Regardless of how I add the file it only has the actual file name, no path.

About the problem in general:
In theory, agree. In practice, the issue at the time was the directory traversal / file write vuln. Leaking the path is really minor and shouldn't matter. If something in the VM locates/reads the analysis.c

[2015-02-23 18:00] jekil commented on #473
hexdump was removed and not required now

[2015-02-23 22:16] cptkaos opened #479 "AttributeError with NetworkAnalysis module"
Anybody run into this recently with latest repo?

2015-02-23 17:02:36,510 [lib.cuckoo.core.plugins] ERROR: Failed to run the processing module "NetworkAnalysis":
Traceback (most recent call last):
  File "/data/cuckoo/lib/cuckoo/core/plugins.py", line 186, in process
    data = current.run()
  File "/data/cuckoo/modules/processing/network.py", line 593, in run
    sort_pcap(self.pcap_path, sorted_

[2015-02-24 07:40] sunilkr commented on #413
I used the standard submit.py to submit an infected .xls file.
The shellcode followed the aforementioned steps.

[2015-02-24 14:46] cptkaos commented on #479
Please ignore. Clean up in network.py ? (it looks like it is done in the latest module version):

 pkt = dpkt.ethernet.Ethernet(raw)
 ip = pkt.data

 if isinstance(ip, dpkt.ip.IP):
 sip, dip = ip.src, ip.dst
 proto = ip.p

 if proto == dpkt.ip.IP_PROTO_TCP or proto == dpkt.ip.IP_PROTO_UDP:
 l3 = ip.data
 sport, dport = l3.sport, l3.dport
 else:
 sport, dport = 0, 0

 else:
 sip, dip, proto = 0, 0,

[2015-02-24 17:17] cptkaos commented on #479
I would recommend pulling down commit on 01/26 which seems to work fine.

[2015-02-24 18:50] jekil commented on #479
Closed because it seems already fixed

[2015-02-24 18:50] #479 closed

[2015-02-24 21:29] jekil commented on #440
The purpose of the zip package is not to deal with all possible configurations but to give a way to upload a sample which needs other files (i.e. dlls to run), all zipped in an archive.
Anyway i think it could work because the unzip is recursive, although i never tried.

[2015-02-24 22:53] KillerInstinct commented on #440
@jekil does the zip package actually extract more than one file?

`file_name = zipinfos[0].filename`

Seems to indicate we only take one file -- not sure how having multiple files would be possible. It may be better to introduce a multipart analysis package which extracts all contents to a folder and executes a user specified file (Error out if not provided). Then it would keep the zip analysis pa

[2015-02-26 05:34] sunilkr commented on #413
I have created gist to demonstrate the issue. Code only, not project.
https://gist.github.com/sunilkr/dec259379b9496b4b63a

If the application is run from anywhere other than %TEMP% path, it would show one message box.
If run from %TMP% it would spawn infinite processes of itself.

PS: Replaced WinExec to ShellExecute for some weird issue.
Warning: Made my system unusable. Had to force restart.

[2015-03-02 14:40] rep commented on #476
We made some changes to the database connection locking for multiprocessing and thus this problem should be fixed. We did test latest trunk against MySQL and it works with parallel processing.

Closing the ticket, please re-open if the problem persists.

[2015-03-02 14:40] #476 closed

[2015-03-02 14:40] rep commented on #475
We made some changes to the database connection locking for multiprocessing and thus this problem should be fixed. We did test latest trunk against MySQL and it works with parallel processing.

Closing the ticket, please re-open if the problem persists.

[2015-03-02 14:40] #475 closed

[2015-03-02 14:56] rep commented on #470
Was implemented, on startup without reschedule the task status gets set to FAILED_ANALYSIS.

[2015-03-02 14:56] #470 closed

[2015-03-02 15:10] rep commented on #466
Push to 1.3, we don't have any additional info and no easy way right now to test with Mac. Can't reproduce anywhere else.

[2015-03-02 15:15] rep commented on #442
There must be some other issue / problem, the max_overflow parameter is definitely not a problem in that sense. Basically regardless of pool_size or max_overflow, SQLA will wait for a connection in the pool to be available for some time (default 30 sec I think). Only after that it will give up. This means that your setup basically was using 10 connections to the database, and not giving any of the

[2015-03-02 15:15] #442 closed

[2015-03-02 15:29] rep commented on #423
Added a paragraph, I think that should cover it. The code should just assume the user has followed the docs and execute tcpdump. If it fails, warn the user. I would remove the other checks around it.

[2015-03-02 15:30] #423 closed

[2015-03-02 15:30] rep commented on #462
Should be fixed / solved with our commits related to the status enum and the updated locking on Database().

Please re-open if the problem occurs again after 1.2 release.

[2015-03-02 15:30] #462 closed

[2015-03-02 15:31] rep commented on #467
Should be fixed / solved with our commits related to the locking on Database().

Please re-open if the problem occurs again after 1.2 release.

[2015-03-02 15:31] #467 closed

[2015-03-02 15:32] rep commented on #450
We have no easy way to test ESX in hundreds of different configurations - one of our users reports ESXi working fine and you did not provide enough details for us to try and replicate the issue.

I'm assuming that some of your configuration was erroneous.

[2015-03-02 15:32] #450 closed

[2015-03-02 15:33] rep commented on #230
Postponed to 1.3, nobody opened a PR and core-team didn't prioritize it.

[2015-03-02 15:35] rep commented on #274
Sadly we did not have time to work on this, however since it is kind of a lab example and not occurring with real-life samples (malwr.com is doing fine) we will postpone this indefinitely for now. Please open a PR if you're interested in fixing this.

[2015-03-02 15:36] rep commented on #394
There is no full path anymore (was changed in other commits) and again, not a big deal to leak some minor stuff in that conf.

This is considered solved and fixed.

[2015-03-02 15:36] #394 closed

[2015-03-02 18:16] begosch commented on #358
I have encountered this without volatility enabled.  Why can't we just store reports in mongodb using GridFS?

[2015-03-02 22:21] jekil commented on #358
@begosch because it is useless, a file system storage would be better at that point.
Can you please share (even privately) the sample?

[2015-03-03 06:53] KillerInstinct opened #481 "Missing index_memory.yar file"
The file modules/processing/procmemory.py references this file via:
[code]
But it appears this file isn't provided with Cuckoo. There is also no documentation on this processing module to tell me if I need to generate this file myself somehow.

[code]
And thus, no Yara signatures are ran against the dump file(s).

To reproduce, simply run an analysis and specify the tick box for "Process Memory Du

[2015-03-03 15:50] jekil commented on #481
Thank you for reporting it.

[2015-03-03 17:44] mhanne0915 opened #482 "Django Web Interface for Distributed Cuckoo"
I setup a distributed cuckoo. i have 12 cuckoo nodes and 1 node for dist.py. I run the manage.py of dist.py and it seems that it doesnt work. Is django web interface (manage.py)  built for non distributed cuckoo only? Do you  guys have a plan to have a web interface (django) for distributed cuckoo?

[2015-03-03 18:00] jbremer commented on #482
Hi,

I've developed dist.py for personal usage - it's not yet in a production state. If you have particular bugs that need to be solved let me know, otherwise for now my suggestion for now is wait until it's "officially" released. Or I can keep you in the loop personally if you like. I expect it to be production ready for version 1.3.
12 nodes - how many VMs each?

Jurriaan

[2015-03-03 18:04] dforce opened #483 "Check if analysis already exists"
Is it possible to implement if, when adding a sample, there is a check if that sample was already analyzed, like at malwr.com with the possibility to run it again or the view previous analyses ?

Thanks

[2015-03-03 19:05] 79617261 opened #484 "Submission via manage.py/django ignores max_machines_count"
I submitted a file to be run against all machines via the django/manage.py version. It created 3 tasks...and then spun up three machines ignoring my max_machines_count = 1. I am currently running 1.2-dev. I understand this is _dev_ but just incase it wasnt on your radar..

[2015-03-03 19:16] jbremer commented on #484
Hi,

This is a race condition in the way that virtual machines are used. The issue lies in the fact that the machine count is fetched based on the state of the machines, however, this state is not updated right away when starting a VM - this happens based on the state reported by the VM manager (e.g., VirtualBox, VMWare, etc..)
I fixed this issue in another repository, focussing on longterm analys

[2015-03-03 20:46] mhanne0915 commented on #482
Id love it if you keep me in the loop ;) So far, 20VMs per node runs smoothly. I'll try to increase it to 30 and see if the machine can still handle it. Ill let you know if I found a bug :) have a nice day~ Thanks

[2015-03-04 00:06] mhanne0915 commented on #475
Thanks rep:)

[2015-03-05 08:28] dingyuchi opened #488 "Droped file wrong html table tag"
https://github.com/cuckoobox/cuckoo/blob/master/web/templates/analysis/dropped/index.html

    <tr>
        <th>File Size</th>
        <td>{{file.size}} bytes</th>
    </tr>
    ....
    <tr>
        <th>Ssdeep</th>
        <td>{{file.ssdeep}}</th>
    </tr>

`<td></td>` not `<td></th>`

[2015-03-05 08:40] r00t0vi4 opened #489 "Old version constant 1.2-dev"
In http://downloads.cuckoosandbox.org/1.2/cuckoo_1.2.tar.gz old version constant  (1.2-dev). Must be 1.2. (see "cuckoo/lib/cuckoo/common/constants.py" )

[2015-03-05 11:15] rodionovd commented on #489
Should be fixed with https://github.com/cuckoobox/cuckoo/commit/5231ff3a455e9c1c36239a025a1f6840029a9ed8

[2015-03-05 12:47] jekil commented on #489
Thanks for reporting.

[2015-03-05 12:47] #489 closed

[2015-03-05 14:29] Tigzy opened #490 "Feature: Integrate Zer0m0n project (?) or develop kernel monitoring"
Hello
There's a fact, malware can easily detect cuckoo hooks, even with the DLL hidden.
Why not go deeper and do the analysis from kernel mode?

This is what zer0m0n does, why not integrate its development into cuckoo official repo?
https://github.com/conix-security/zer0m0n

[2015-03-05 14:31] jbremer commented on #490
Hi,

Yes, thanks for the reminder, it has been on my todo list for quite a while, but I have to find the time for it to properly integrate it upstream ;)

Jurriaan

[2015-03-05 15:19] Tigzy commented on #490
Good to hear :+1:
Keep up the good work!

[2015-03-05 21:54] KillerInstinct opened #491 "All VM submission inserts tasks into DB in the wrong order."
In my setup I have 4 VM's and if you submit a task and select all machines, it inserts the tasks into the DB in reverse order. Then when you view the tasks in recent analysis they are sorted incorrectly. For example, it would look like:

ID
3
4
5
6
2
1

[2015-03-05 22:12] KillerInstinct commented on #491
This looks to be an issue with the guests table:

<snip>
| 296 |
| 298 |
| 299 |
| 297 |
+-----+

[2015-03-05 22:29] botherder commented on #490
There are several reasons why monitoring was kept in userland. Kernelmode monitoring doesn't give as much granularity and flexibility in what we can do. Besides being an incredible hassle to maintain for multiple platforms in the long run.

For what it's worth, we won't replace usermode hooking with kernelmode. Perhaps make them complementary at most.

[2015-03-06 09:12] dewiestr commented on #389
Actually this is solved because the line 30 of analyzer/windows/lib/core/packages.py was changed to:

elif "Microsoft Office Excel" in file_type or "Microsoft Excel" in file_type  or file_name.endswith((".xls", ".xlsx")):

[2015-03-06 09:43] r00t0vi4 opened #492 "To do: Add localization in templates"
I think will be comfortably with native language in web interface.
I request adding localization files in cuckoo. Community will translate for all languages.
For example:
![2015-03-06_094057](https://cloud.githubusercontent.com/assets/3502081/6523145/f0fe7426-c3e4-11e4-9cb2-bad60c03ff55.png)

[2015-03-06 11:51] botherder commented on #481
The index_memory.yar file is generated automatically if there are signatures in data/yara/memory/. By default there are none. This is not a bug.

[2015-03-06 11:51] #481 closed

[2015-03-06 12:37] rep commented on #492
Appreciate the offer and idea, however I'm not sure we are really interested in localization. It will be a weird mix of local + english anyways with all the special terms. I'm not a native english speaker myself and I would never ever want to switch my Cuckoo interface / report language.

We'll discuss it.

[2015-03-06 14:22] r00t0vi4 commented on #492
OK. My next idea - create double-panel additional form (picture above). On small screens panel not fit. Maybe create new issue? Or create pull request?

[2015-03-06 15:18] Tigzy commented on #490
"Kernelmode monitoring doesn't give as much granularity and flexibility in what we can do".
Well, all NtXxxx APIs hooked in userland have their kernelmode equivalent with ZwXxxx.

I agree with the fact hooking SSDT isn't an easy task on multiple platforms, but the researcher can help a little bit on modern OSs with disabling patchguard. Not asking to replace the userland hooking but provide an opt

[2015-03-06 15:20] Tigzy opened #493 "Add file path of dropped files"
In the HTML report when a file is dropped we currently only have the file name, the size, various hashes and VT link.

Could be very valuable to also have the file path.

[2015-03-06 23:09] The-Betrayer opened #494 "Network Analysis failure"
Hi,

 I've installed Cuckoo 1.2 on Ubuntu 14.04 (and later upgraded to 14.10) and I'm getting the same error (below) to any sample I'm using:

2015-03-07 00:39:49,580 [lib.cuckoo.core.plugins] ERROR: Failed to run the processing module "NetworkAnalysis":
Traceback (most recent call last):
  File "/home/alex/cuckoo/lib/cuckoo/core/plugins.py", line 186, in process
    data = current.run()
  File "/

[2015-03-07 06:50] r00t0vi4 commented on #494
Maybe you set timeout < 30 seconds?

[2015-03-07 10:00] The-Betrayer commented on #494
Thank you r00t0vi4 but the error doesn't seem to be related to a timeout. I'm using the default timeouts.

[2015-03-07 10:12] The-Betrayer commented on #494
Interesting enough, I was monitoring the file level activity with iwatch and I don't see a pcap file created. Is this normal?

[2015-03-07 22:50] jekil commented on #494
Thanks for reporting it. The bug was introduced it e656843f0f4593c63203eb9ffbf938b61f1d1d22 and it was related to a typo.

[2015-03-07 22:54] #494 closed

[2015-03-07 22:55] jekil commented on #493
Thanks for this feature request, we will take care of it.

[2015-03-07 23:06] jekil commented on #488
Thanks for reporting it.

[2015-03-07 23:14] jekil commented on #491
Thanks for reporting it, we will put some love on it.

[2015-03-07 23:16] jekil commented on #483
Thanks for this feature request, we will take care of it.

[2015-03-07 23:19] #488 closed

[2015-03-08 15:08] The-Betrayer opened #495 "Cuckoo 1.2 vs Volatility 2.4"
Hi all,

I'm trying Cuckoo 1.2 with Volatility 2.4; I'm running on Ubuntu 14.10 and the error I'm getting during memory dump processing is:

[modules.processing.memory] ERROR: Generic error executing volatility Traceback (most recent call last): File "/home/alex/cuckoo/modules/processing/memory.py", line 1047, in run results = vol.run() File "/home/alex/cuckoo/modules/processing/memory.py", line 9

[2015-03-08 17:49] copeland3300 commented on #495
I've had the same issue, and since I didn't need anything in Volatility
2.4, I used 2.3 with no problem.

On Sunday, March 8, 2015, The-Betrayer <notifications@github.com> wrote:

[2015-03-08 18:14] The-Betrayer commented on #495
Thank you copeland, in truth one can do most of the stuff with Volatility 2.3 yet the change log for Cuckoo 1.2 says it should integrate with Volatility 2.4 - hence my question.

[2015-03-09 08:51] gaelmuller commented on #495
It does not look like an error with volatility, but more regarding your configuration file. Did you update your configuration files when updating to Cuckoo 1.2 ?

Could you check that your config file "memory.conf" contains an "ssdt" section like the following:

    [ssdt]
    enabled = yes
    filter = on

[2015-03-09 20:46] The-Betrayer commented on #495
Thanks a lot for the hint gaelmuller - this was it! We can close the thread.

[2015-03-09 20:46] #495 closed

[2015-03-12 17:27] ch40s commented on #370
Thanks!

[2015-03-13 17:50] jcannell opened #496 "QueueUserAPC injection fails during URL analysis"
Using 1.2 stable

I'm having some issues using the url analysis features on a Win7 x64 vm with IE10. Using kvm.

This issue also appears in the community here, although I'm not currently sure about the other person's setup.
http://community.cuckoosandbox.org/posts/show/url-analysis-browser-doesnt-appear-to-actually-navigate-to-the-url-submitted/

On my setup, cuckoo successfully injects into the f

[2015-03-16 11:33] johnc-ncc opened #498 "YARA signatures not reporting"
Current Cuckoo git release;
Yara 3.2.0;

If Cuckoo reports a warning about a Yara rule eg:

2015-03-16 10:53:35,094 [lib.cuckoo.common.objects] WARNING: Unable to match Yara signatures: /opt/cuckoo/data/yara/binaries/test.yara(74): $opcodes04 is slowing down scanning

No results are displayed in the Yara section on the analysis results.
I have tested this rule manually using Yara and it works fine

[2015-03-16 13:48] botherder commented on #498
Perhaps the rule on yara-python is causing issues. Can you share the rule?

[2015-03-17 19:21] meirl opened #499 "creates_exe.py regex"
in: cuckoo/modules/signatures/creates_exe.py

match = self.check_file(pattern=".*\\.exe$", regex=True)
needs to be:
match = self.check_file(pattern=".*\.exe$", regex=True)

EDIT:
github does not display the regex correctly, i mean there should be ONE back slash and NOT TWO,
the rexeg must match: blabla.exe

[2015-03-17 23:18] #499 closed

[2015-03-18 01:31] supahal opened #500 "Exception when processing NetworkAnalysis"
This will occur when dump.pcap is not created/no file found

2015-03-18 09:27:37,790 [lib.cuckoo.core.plugins] ERROR: Failed to run the processing module "NetworkAnalysis":
Traceback (most recent call last):
  File "/home/tmirt/tools/cuckoo-tmp/lib/cuckoo/core/plugins.py", line 186, in process
    data = current.run()
  File "/home/tmirt/tools/cuckoo-tmp/modules/processing/network.py", line 593, i

[2015-03-18 01:49] supahal opened #501 "Inquiry: Do you encounter this issue when cuckoo runs tcpdump (having non-root user)?"
tcpdump: eth0: You don't have permission to capture on that device

[2015-03-18 08:24] gaelmuller commented on #501
This is a normal error, and the current documentation should prevent against it:

https://cuckoo.readthedocs.org/en/latest/installation/host/requirements/#installing-tcpdump

It says that you should set specific capabilities on the binary:

[code]

[2015-03-18 23:34] jekil commented on #500
Thanks for reporting.

[2015-03-18 23:36] jekil commented on #501
As @gaelmuller said, it is not a bug but a point in the documentation you probably miss. I am closing this issue. Feel free to re-open it if you have more in-topic requests.

[2015-03-18 23:36] #501 closed

[2015-03-18 23:39] #500 closed

[2015-03-20 09:16] johnc-ncc commented on #498
Yep heres an example rule:

///////////////////////////////////////////////////////////////////////

rule test_rule_1 {
        meta:
                author = "John"
                description = "Test Rule 1"
        condition:
                uint16(0) == 0x5A4D and uint32(uint32(0x3C)) == 0x00004550
}

rule test_rule_2 {
        meta:
                author = "John"
                description

[2015-03-23 03:05] supahal commented on #501
Shoot. Thank you for the help.

[2015-03-23 03:45] supahal opened #502 "Analysis failed when executing non-ascii process name"
2015-03-23 11:42:08,124 [lib.cuckoo.core.scheduler] ERROR: Analysis failed: The package "modules.packages.xxx" start function encountered an unhandled exception: 'ascii' codec can't encode character u'\u202e' in position 4: ordinal not in range(128)

Sha1: 671b5f8dd4a5065ea25abbc88ac7b098c8c6d4b3

[2015-03-23 07:53] r00t0vi4 commented on #502
Maybe your database has latin1 charset. Must be utf8.
Use this code to create new database:
[code]

[2015-03-23 09:37] airbird88 opened #503 "hooooooooooooooooooooooooooook"
hooooooooooook

[2015-03-23 16:00] lhaagsma opened #504 "Comparing URLs causes an exception"
When clicking 'Compare' on a URL report the following error appears:

    KeyError at /compare/12/
    'file'
    Request Method:	GET
    Request URL:	http://localhost:8000/compare/12/
    Django Version:	1.7.7
    Exception Type:	KeyError
    Exception Value:
    'file'
    Exception Location:	/home/cuckoo/cuckoo/web/compare/views.py in left, line 31
    Python Executable:	/usr/bin/python
    Pyt

[2015-03-24 21:23] jekil commented on #503
oooooooooooookkkkkkkkkkkk

[2015-03-24 21:23] #503 closed

[2015-03-24 21:33] jekil commented on #502
@r00t0vi4: sqlalchemy is using utf8 by default (http://docs.sqlalchemy.org/en/rel_0_9/core/engines.html).

[2015-03-25 06:15] r00t0vi4 commented on #502
This two steps resolve this bug:
In cuckoo.conf set:
[code]
Create database:
[code]

@jekil mysql default installation use latin1 character set. If using command "CREATE DATABASE cuckoo"

[2015-03-25 15:03] jcannell opened #505 "Run sample in VM from separate directory"
Hello,

This is a feature request. I didn't see this feature currently available in 1.2, but if it already is then please let me know.

Basically, having the ability to run a submission from a location other than TEMP would be nice. Sometimes a submission won't run under this directory.

See this analysis for reference: https://malwr.com/analysis/ODdjNjAyNGNmNDU4NGE0MGJiOWY5Mzk0M2RmM2E2NjU/

Shoul

[2015-03-26 08:27] theevilbit opened #506 "Feature: Close started application during analysis"
Would it be possible to add a feature to the analyzer agent to close an application towards the end of the analysis? Run on close macros can bypass sandboxes, as they will never exit the started application and thus the malware will not start, as described here:

https://www.proofpoint.com/us/threat-insight/post/Run-on-Close-Macros-Try-to-Shut-the-Door-on-Sandboxes

[2015-03-26 22:11] jekil commented on #502
@r00t0vi4 if you are using a custom db, like mysql, the configuration is up to you, so it's your responsability to use a proper create statement (although i will add a note in the doc), and if you run the creation statement properly, adding charset=utf8 to the connection string is useless, it is already the default.

[2015-03-28 08:57] r00t0vi4 opened #507 "Submit dropped files for analysis"
EmergingThreats create "resubmitexe" module.
https://github.com/EmergingThreats/cuckoo-1.1/blob/master/modules/reporting/resubmitexe.py
It's a good idea to intergrate this module in master branch.

[2015-03-31 16:46] wmetcalf opened #508 "MySQL backend + SQLAlchemy limited to 255 char url targets"
Creating the target column in the tasks db in the following way
target = Column(Text(), nullable=False) Text()

Creates.

| target                 | varchar(255)                                                                                                          | NO   |     | NULL    |                |

With no arg sets the max url len to 255 at least for me with MySQL as the bankend db. Can

[2015-03-31 17:30] wmetcalf commented on #508
Actually this seems to not be your issue. Seems in the accuvant fork db migration script is the issue.

[2015-03-31 17:30] #508 closed

[2015-04-01 13:14] botherder commented on #506
This is actual a problem that needs to be investigated further. I'll open another ticket more specific to the sandbox evasion.

[2015-04-01 13:16] botherder opened #509 "Sandbox is evaded by On Close macros"
As documented here:
https://www.proofpoint.com/us/threat-insight/post/Run-on-Close-Macros-Try-to-Shut-the-Door-on-Sandboxes
A number of malware deployed through Macros are making use of the On Close event to execute only when the application is closed. This is done to evade sandboxes, and it does in fact evade ours.

[2015-04-01 13:16] botherder commented on #506
Moved to #509.

[2015-04-01 13:16] #506 closed

[2015-04-01 13:18] botherder commented on #507
If @wmetcalf wants to contribute is code upstream he's more than welcome to do so. It appears that they started contributing to the fork instead, and I don't intend to reuse others' code without consensus.

[2015-04-01 13:20] #303 closed

[2015-04-01 13:46] botherder commented on #502
I'm not sure this is really a problem on how the file is stored in the database.

[2015-04-01 13:48] jbremer commented on #502
It's not - I'll try to handle it for the upcoming release with the new injection utility.

[2015-04-01 13:49] botherder commented on #498
I removed Yara's error on warning. This should allow the results for the other rules to be displayed.
You should however investigate on what is causing the performance slow-down.

[2015-04-01 13:50] #498 closed

[2015-04-03 12:37] botherder opened #510 "Unify web frameworks across utilities and interfaces"
At the moment we have Distributed using Flask, web.py using Bottle and the web interface using Django.

We have to reduce this variety. It's ridiculous that we're adopting so many different frameworks and asking for so many different requirements to pretty much produce all the same applications. Despite what personal preferences are, we need to start reducing complexity and unify the codebase.

Th

[2015-04-03 12:44] jbremer commented on #510
I can port web.py's Bottle to use Flask, but I don't have time to merge the various applications, nor do I think that's really the best way to go forward. At the very least I think Distributed should remain standalone.
Then the web interface has its own database based on Mongo, so.. that's quite different from API/Distributed.

[2015-04-03 12:46] jbremer commented on #510
Actually, I'd suggest to port ``api.py`` to Flask and to deprecate ``web.py`` for the upcoming version. After that we can fully remove ``web.py`` for a next big release.

[2015-04-03 12:48] botherder commented on #510
I could agree on migrating to Flask instead of Bottle. I can take care of migrating `api.py`. Deprecating `web.py` is something we should discuss in a separate ticket.

[2015-04-03 12:49] jbremer commented on #510
*Presses the Like button.*

[2015-04-03 12:52] botherder opened #511 "Deprecation of web.py and/or HTML reports"
Let's discuss here what is to do with HTML reports and the `web.py` utility.
As we currently stand, both of them are largely abandoned as all the development is being done on the Django web interface.

The Django web interface provides a much better view of the single reports as well as extended search and comparison capabilities. From our point of view, it is definitely the preferred choice.

Bef

[2015-04-03 12:55] jbremer commented on #511
Generally I think people would rather see a PDF report than a HTML report. So maybe start deprecating HTML reports and create a PDF reporting module which people can use as replacement. Of course this means actually making a PDF which is kind of a pain (i.e., either use some unknown library or use something bloated like LaTeX).

Maybe an idea to ask people on the mailing list about this issue, @bo

[2015-04-03 13:01] botherder opened #512 "Integrating YaraRules repository"
YaraRules runs a comprehensive collection of Yara rules:
http://yararules.com/rules/

At the moment our Yara rules are not really updated and are very limited. It would be a good idea to find ways to integrate their collection in Cuckoo, perhaps through a dedicated utility script or an additional option in `utils/community.py`?

[2015-04-03 13:07] gtback commented on #511
It might be possible to use something like [`weasyprint`](http://weasyprint.org/docs/), keeping the HTML report and supporting conversion to PDF. I've never used it personally, though.

[2015-04-03 13:08] botherder opened #513 "Introduce a metric to estimate when a file appears malicious or benign"
This is something that is requested a lot. Let's brainstorm on could be possible ways to implement such a detection metric.

[2015-04-03 13:11] botherder opened #514 "Better integration of community signatures"
At the moment, community signatures are stored in a separate repository. I'm starting to grow the feeling that people are not paying much attention to the documentation section that deals with them.
I imagine that a lot of people are missing out on the presence of the signatures and the existence of the `utils/community.py` script.

We should brainstorm on what could be possible ways to foster the

[2015-04-03 13:12] g-clef commented on #511
Right now I'm using both the html and json reports. I have a custom front-end that submits files to both Cuckoo and another malware tester simultaneously & collects the results from both. The Cuckoo json results go to ElasticSearch, and the html results are shown to the user. I could deal with deprecating the html report, since I can always scrape the django front-end if I have to.

One side-note:

[2015-04-03 13:14] jbremer commented on #511
@g-clef You're not supposed to get data out of a PDF nor a HTML document, for that purpose there's the JSON report which contains all the information (if not more) that you can also find in the HTML (and possibly in the future PDF) report.

[2015-04-03 13:24] g-clef commented on #511
@jbremer for my purpose, embedding a PDF is a very bad user-interface option. Embedding HTML is fine even if I only rip part of the HTML out & display it to the user. But I at least have that option with HTML, and can preserve some of  the original layout & appearance with HTML. With PDF, I have no choice but to present the user with a foreign thing, breaking the user's interaction with my site (c

[2015-04-03 13:29] botherder commented on #511
@g-clef That is useful conversation, don't stop.

I agree that PDF might be useful for easier distribution, although I agree there is a value in HTML. The problem really is that we're failing at maintaining both the web interface and the HTML report at the same time, since most of the code should duplicate while it doesn't now.

Also keep in mind that most modern browsers can easily take an HTML p

[2015-04-03 13:51] gaelmuller commented on #511
I think that it would be good to keep the HTML report. However, this is too difficult to maintain both the HTML report and the django interface. Maybe we should find a way to build one from the other.

[2015-04-03 14:32] g-clef commented on #511
@botherder 'k.

I guess my use-case boils down to "Do you have a preference for how people embed Cuckoo results in other apps?"

I'd assumed that the HTML reports were offered as a way to display those results to users (even embedded in other things), and the JSON results were offered for more backend things like ElasticSearch (or for sites that want to put their own styling on the results). That

[2015-04-03 14:48] gtback commented on #511
Would be be possible/easy to reuse the current Django templates and create a "single page HTML report" with all the data concatenated together?

[2015-04-03 17:22] botherder commented on #511
Potentially it could be possible, but it might require some restructuring to do.
It's certainly something that would help keeping the HTML report alive.

[2015-04-03 17:23] botherder commented on #510
Closing this issue and opening specific ones.

[2015-04-03 17:23] #510 closed

[2015-04-03 17:24] botherder opened #515 "Migrate API from Bottle to Flask"
In order to unify the web frameworks, we'll start migrating API from bottle.py to Flask.

[2015-04-05 03:48] KillerInstinct commented on #511
Instead of deprecating a reporting module, I'd suggest migrating it to community. The directory structure supports this already and it allows for the user to still be able to download it, while not requiring further 'development support'. (Just my 2cents re: html report)

[2015-04-05 03:51] KillerInstinct commented on #514
Perhaps add a git-check to see if we match the latest commit for the community modules, throw it in lib/cuckoo/core/startup.py

Could make this configurable, similarly to the "check for updates" toggle.

[2015-04-05 08:04] dspruell opened #517 "REST API not supported as WSGI app"
The REST API is implemented as standalone tool and uses the development HTTP server when run. Some users may wish to deploy this in a full web stack via WSGI in production.

Submitted PR #516 as possible enhancement to keep web.py current behavior if launched directly, or to allow it to be launched as WSGI application in servers such as uWSGI.

Just saw #515 intends to migrate to Flask for 1.3, so

[2015-04-05 08:37] botherder commented on #517
Fixed with f686d5d9c602adcc1663826fc4a972ef466644e4.

[2015-04-05 08:39] jbremer commented on #517
Some documentation around this issue would be nice ;) Just a quick 'n dirty nginx setup would go a long way (for me at least).

[2015-04-05 18:17] botherder commented on #517
You should make a pull request with an update in ``docs/book/src/usage/api.rst``, after the "Starting the API server" section. Beware, RST can be sometimes different from pure Markdown. Refer to examples in other parts of our documentation.

[2015-04-06 16:28] jekil commented on #515
Why not move all the web frameworks hell to django?

[2015-04-06 18:14] tysonmax20042003 opened #518 "Problem with Cuckoo (current Build V1.2) and Web submit"
Hello,

I have all dependency's required for Cuckoo. After a sample web submit is sent I get the following error. Full log with debug on. I am using UbuntuServer14.04.2LTSx64. Not sure what is wrong with OSError: [Errno 2] No such file or directory** or ending error? Can someone please help. Thank you.

cuckoo@Cuckoo-Host:~/bin/cuckoo$ sudo python ./cuckoo.py -d

_ _ _ _ _ _ __ | | | | |_/ | | | |

[2015-04-06 18:51] botherder commented on #518
You don't have the "net" command from Samba. Next time please use a nopaste service or paste the relevant information only with appropriate formatting.

[2015-04-06 20:06] tysonmax20042003 commented on #518
Sorry about that. Thanks for getting back so fast. Installed samba-common. Always the easy solutions. lol. After a new analysis it seems to finish the job but the BsonParser has a problem. I appreciate your help :)

Now 2015-04-06 16:01:46,996 [lib.cuckoo.common.netlog] WARNING: BsonParser decoding problem invalid length or type code on data[:50] 'X\x00\x00\x00\x10I\x00e\x00\x00\x00\x10T\x000\x01\

[2015-04-06 20:38] tysonmax20042003 commented on #518
Weird, I installed the full Samba package and now that issue is gone. Thanks:)

Also If I goto the report and select Compare this analysis to... it will fail. Is this the same location of where the analyses and binaries are located in storage in the cuckoo program folder? I am assuming the web app can't get access to the folder to compare? If its a permission problem. I added www-data and my user

[2015-04-06 21:13] botherder commented on #518
The requirement is mentioned here:
http://docs.cuckoosandbox.org/en/latest/installation/guest_physical/requirements/#additional-host-requirements

You probably analyzed a URL. The comparative analysis isn't working with URLs yet as reported in #504.
I'm closing this ticket.

[2015-04-06 21:13] #518 closed

[2015-04-06 21:14] botherder commented on #514
That could be a good idea.

[2015-04-11 04:14] tysonmax20042003 opened #519 "Analysis not starting on Proxmox KVM"
Hello,

I think I have the same issue as: Network Analysis failure #494.
On current build and on Ubuntu 14.10 Server. All parts of Cuckoo works but no PCAP files. Storage folder has full permissions.

2015-04-10 14:27:01,488 [lib.cuckoo.core.plugins] DEBUG: Executed processing module "Dropped" on analysis at "/home/cuckoo/bin/cuckoo/storage/analyses/20"
2015-04-10 14:27:01,489 [lib.cuckoo.core.plu

[2015-04-11 04:21] tysonmax20042003 opened #520 "WARNING: BsonParser decoding problem bad eoo on data[:50]"
Hello,

On the web interface when submitting a file once in a while I get this error, cuckoo fails and the report states analysis failure. After sending the same job again the job finishes.

2015-04-10 15:11:30,594 [lib.cuckoo.core.plugins] DEBUG: Running non-evented signatures
2015-04-10 15:11:30,594 [lib.cuckoo.core.plugins] DEBUG: Running signature "creates_exe"
2015-04-10 15:11:30,594 [lib.cuc

[2015-04-11 05:26] jbremer commented on #520
You probably don't have a bson library installed. Nowadays in order to do that, you have to run the following: `pip install pymongo`.

[2015-04-11 17:16] tysonmax20042003 commented on #520
I already had it installed. Hummm....I ran pip install pymongo --upgrade
This reinstalled the module. I don't see the issue yet but not sure. Is there any place else I can check in logs to see what caused the issue or if its fully resolved? Thanks for responding. :)

[2015-04-11 17:16] tysonmax20042003 commented on #520
I will mark this closed but I say its unknown issue lol

[2015-04-11 17:16] #520 closed

[2015-04-13 14:39] nncsirt opened #522 "MongoDB "disconnect" error"
Running
Cuckoo v 1.2
PyMongo 3.0

Cuckoo throws an error when trying to close a mongodb connection.
[code]
Changing `self.conn.disconnect()` to `self.conn.close()` in mongodb.py seems to solve it.

[2015-04-13 17:54] gtback commented on #519
I think I had this same error the last time I set up a Cuckoo instance. If I remember correctly, I had forgotten to set the capabilities on the tcpdump binary (see [here](http://docs.cuckoosandbox.org/en/latest/installation/host/requirements/#installing-tcpdump)).  Of course, it could be something else that is causing the `dump.pcap` file to not be created.

In any event, I think a clearer error m

[2015-04-14 02:44] tysonmax20042003 commented on #519
All set. Hummm. Not sure what the issue is. I hope someone else sees this and has a resolution. Thanks gtback for the help.

[2015-04-14 02:45] tysonmax20042003 commented on #519
All set. Hummm. Not sure what the issue is. I hope someone else sees this and has a fix. Thanks gtback for the help.

[2015-04-16 09:13] botherder commented on #519
It is most certainly what @gtback said. Can you verify that you can run `tcpdump -i eth0 -n` from Cuckoo's user?

[2015-04-16 09:14] botherder commented on #522
Thanks for reporting, we'll look into it.

[2015-04-16 09:21] botherder opened #523 "Integration with Moloch"
Moloch is a powerful network capture and indexing system which is increasingly commonly used in corporate networks to monitor traffic and identify malicious activity.
By integrating Cuckoo and Moloch, we'd be able to create a fully open source sandnet capable of extracting malicious artifacts on-the-fly and requesting Cuckoo to analyze them.

We won't be able to achieve this without coordinating h

[2015-04-16 15:57] landw1re opened #524 "Django Interface Server Error (500)"
I Just finished configuring cuckoo and all the dependencies. I tried to bring up the Django interface but I'm receiving a **Server Error (500)**

This is what I'm seeing at the console using **python manage.py runserver**

Any idea why this might be occurring? I'm not seeing errors anywhere else...

![image](https://cloud.githubusercontent.com/assets/7854165/7185163/30e7b90c-e42f-11e4-9883-eac5267

[2015-04-16 18:03] eoinmiller commented on #523
I know @wmetcalf uses Cuckoo + Moloch quite a bit. Maybe he can share some info on how EmergingThreat uses them together currently.

[2015-04-17 04:37] tysonmax20042003 commented on #519
I do see network traffic from eth0. From cuckoo user I ran sudo setcap cap_net_raw,cap_net_admin=eip /usr/sbin/tcpdump
Also getcap /usr/sbin/tcpdump
with the correct result.
/usr/sbin/tcpdump = cap_net_admin,cap_net_raw+eip

[2015-04-17 04:38] tysonmax20042003 commented on #519
I think its a problem with 2015-04-10 14:27:01,488 [lib.cuckoo.core.plugins] DEBUG: Executed processing module "Dropped" on analysis at "/home/cuckoo/bin/cuckoo/storage/analyses/20"
and
IOError: [Errno 2] No such file or directory: '/home/cuckoo/bin/cuckoo/storage/analyses/20/dump.pcap'
2015-04-10 14:27:01,490 [lib.cuckoo.core.plugins] DEBUG: Executed processing module

[2015-04-17 05:04] tysonmax20042003 commented on #519
After trying to run another try today I am getting the same error as post "MongoDB "disconnect" error #522"

2015-04-17 00:58:17,408 [lib.cuckoo.core.plugins] DEBUG: Running non-evented signatures
2015-04-17 00:58:17,408 [lib.cuckoo.core.plugins] DEBUG: Running signature "creates_exe"
2015-04-17 00:58:17,408 [lib.cuckoo.core.plugins] DEBUG: Running signature "generic_metrics"
2015-04-17 00:58:17,4

[2015-04-17 08:59] botherder commented on #519
What is the network configuration you adopted for your VM?

[2015-04-17 09:08] botherder commented on #524
Can you try to upgrade to Django 1.7.x or 1.8.x?

[2015-04-17 09:59] rep commented on #523
Disagree unless I misunderstand the goal/motivation for using Moloch.

First of all "integration" would merely mean running moloch-capture on the interface that is used for the VM traffic - there's not much to do on top of that unless you want to add some sort of tagging that labels the streams in Moloch by which VM or which malware sample was running at the time.

Also Moloch overall is mostly a

[2015-04-17 10:23] botherder commented on #523
You're missing out the whole point, Mark.

The point isn't to integrate Moloch INTO Cuckoo, it is to integrate the two tools to work in parallel. Moloch is used a full take network monitoring system on corporate networks and it is able to extract interesting information or artifacts.

With Moloch sitting in front of a corporate network, it would be capable of for example pulling executables downlo

[2015-04-17 14:06] tysonmax20042003 commented on #519
Yup no problem.  Cuckoo PC has 2 interfaces one for my internal range and eth1 is a 10base network (10.1.0.1) with only one physical VM configuration in Cuckoo. (actually the Windows 7 is in a KVM container through Proxmox. irrelevant but thought to let you know.) windows 7 is 10.1.0.2 static with its gateway to the Cuckoo host. Routing looks ok.  I went to the Windows 7 PC and is able to access t

[2015-04-17 18:03] bit-bucket commented on #523
I am interested in this.

[2015-04-17 19:38] KillerInstinct commented on #523
@botherder @rep I think this would be sort-of. As Moloch is an indexing service, it may be more valuable to implement the ability to use ElasticSearch in place of Mongo (so the user can choose to do either or) Personally, for my research and dev purposes I have no need for Moloch with my cuckoo instance. Also, pretty much all of the functionality can be replicated with other (prettier) tools such

[2015-04-18 13:25] botherder commented on #519
I've heard people having issues with Proxmox. There's obviously something wrong in your setup as the analysis is never started and it seems to be stuck at a startup point.

I'm not too familiar with KVM+Cuckoo so better to loop @jekil in. It would be useful if you could share the config files.

[2015-04-18 15:13] tysonmax20042003 commented on #519
Really! Wonder why?  I have a few environments and the only problems when it comes to networking would be if anyone uses internal NAT and not a Bridged adaptor setup form my experience. NAT has problems with communication with other VM's.

 I will get my configs for cuckoo.conf and physical.Conf on Monday.  I am not in the area of my Setup.  Did you want like a pastbin link for both?

[2015-04-18 15:29] tysonmax20042003 commented on #524
I had the same issue.  Can you try this. python manage.py runserver 0.0.0.0:8080? Also check your primissions on the cuckoo folder.  With ls - l and if you need to change it Try a sudo chmod  777 /cuckoo* - R

[2015-04-19 20:47] botherder commented on #519
Pastebin would be best, thanks.

[2015-04-20 07:22] elhoim opened #525 "Integrate with Malware Information Sharing Platform (MISP)"
[MISP](https://github.com/MISP/MISP) is a platform to echange IOCs.
It would be great to have integration with it, more specifically:
- import sample from MISP into cuckoo
- export report to a MISP event
- lookup samples hashes (MD5/SHA1/SHA256) from MISP inside Cuckoo
- save output of analysis from a cuckoo report into MISP attributes
- use yara rules from MISP in Cuckoo

[2015-04-20 17:43] jpsenior opened #526 "Error reporting for memory analysis module"
except ImportError is too broad: Volatility may be installed but there may be a sub-dependancy itself that isn't resolved.
Make a friendlier error message if a nested dependancy is missing (Crypto.Hash):
The python-crypto package is not installed.
[code]

[2015-04-20 17:47] jpsenior opened #527 "Web interface option to re-analyze previous tasks (particularly failed)"
There may be more than one instance of an administrator requiring a re-analysis of a previous task - e.g. mongodb wasn't running, virtualbox VM wasn't shut down properly, etc.  cuckoo.py process <task> can easily do this, so let's make a button "Retry Processing" or "Retry task" under web/analysis/views.py.

[2015-04-20 20:02] jpsenior opened #528 "human.py should use regular expression searching for button matches"
human.py currently uses the below button labels:

    buttons = [
        "yes",
        "ok",
        "accept",
        "next",
        "install",
        "run",
        "agree",
        "enable",
        "don't send",
        "continue",
        "unzip",
        "open",
    ]

And loops through each button:

        for button in buttons:
            if button in text.value.lower():

[2015-04-20 22:49] KillerInstinct commented on #528
It should work / it does work for me. It's similar to saying if:

[code]

Which would print "Good

[2015-04-21 08:26] botherder commented on #528
This is actually one of the most beautifully written tickets we ever got on here, so kudos.

You are absolutely right, this is something we can fix. As @KillerInstinct explained, in this case specifically the use of regexp isn't really necessary, however I wondered whether it could be something useful if we specify the list of buttons in a configuration file. In that way people could add for examp

[2015-04-21 08:26] botherder commented on #527
I like the idea.

[2015-04-21 08:28] botherder commented on #525
It seems that it might mostly be work to be done on MISP side and eventually interfacing with Cuckoo's API.

[2015-04-21 13:40] landw1re commented on #524
I have the cuckoo directory owned by cuckoo:cuckoo and the entire directory/sub-directories are 775. The only way to get the static pages to present themselves is using the **--insecure** flag when executing manage.py (i.e. **./manage.py runserver --insecure**). When the **--insecure** flag is used the Django interface renders fine without any 404 errors.

[2015-04-21 13:51] landw1re opened #529 "No Network Results produced"
I believe I have everything configured correctly for cuckoo and everything seems to be running as expected with the exception of behavioral analysis as it relates to network activity. I get results for pretty much everything but now network activity at all.

I have the following in place as per the cuckoo documentation:
* I have Tcpdump configured with as outlined in the docs
  * sudo setcap cap_n

[2015-04-21 17:04] botherder commented on #529
I'm not sure I understand your network configuration, but why do you have privatebr0 in auxiliary.conf and privatebr1 in virtualbox.conf?

[2015-04-21 17:43] landw1re commented on #529
I'm using a bridged networking setup. I have 2 bridge adapters configured on my Ubuntu 14.04 host machine (Dell R710 Server) using bridge-utils and 1 physical NIC (**em1 = 10.0.0.62**)

1. **privatebr0** (192.168.56.1) = all the cuckoo result server traffic traverses this adapter
[code]
2. **privatebr1** (192.168.57.1) = all the Internet/outside resource traffic traverses this adapter
[code]
I hav

[2015-04-21 20:08] jpsenior opened #530 "cuckoo's machine.py creates duplicate machines in .conf files [lib.cuckoo.core.database db.add_machine]"
utils/machine.py --add --ip 192.168.206.111 cuckoo111
    utils/machine.py --add --ip 192.168.206.111 cuckoo111
    utils/machine.py --add --ip 192.168.206.111 cuckoo111

Adds:

    [kvm]
    machines = ... cuckoo111, cuckoo111, cuckoo111
    [cuckoo111]
    label = cuckoo1111
    platform = windows
    ip = 192.168.206.111
    [cuckoo111]
    label = cuckoo1111
    platform = windows
    ip = 192

[2015-04-22 02:52] tysonmax20042003 commented on #519
Here are my configs. Please let me know if you would like my iptables config. Thanks again to you guys for helping.

Cuckoo:
eth0: 192.168.1.12
eth1: 10.1.0.1

Win7 PC: 10.1.0.2

Cuckoo Config: http://pastebin.com/gHPZAGZr
auxiliary.conf: http://pastebin.com/j3GjPDJu
reporting.conf: http://pastebin.com/MEcdkU56
processing.conf: http://pastebin.com/JvRyWWxD

[2015-04-22 18:06] landw1re commented on #529
@botherder what is your networking setup for your sandbox environment? Are you just using Host-only with iptables forwarding as outlined in the docs? Also, what is the **dump_sorted.pcap** used for and when does that get introduced/created in the analysis process? The only mention of it is within the mongodb.py and network.py files from what I can see.

I've been racking my brain on why cuckoo doe

[2015-04-22 19:02] jpsenior opened #531 "Feature: "Selectively Disable human.py""
I have had a number of requests from analysts to run through 'more complicated' installers for cuckoo malware analysis by making use of their mouse/keyboard to respond to a complicated application.

This is a very small patch to enable an 'interactive mode' option on the front-end submission content: All it does is disable human.py if the option 'interactive' is set to 'yes' (checked).

This allow

[2015-04-23 01:28] midnightcoder13 commented on #509
So, is this issue solved by just closing all running processes in Package.finish() in cuckoo/analyzer/windows/lib/common/abstracts.py, or am I just way too new at this and missing something obvious?

[2015-04-23 01:44] midnightcoder13 commented on #530
Like this? Or should there be an error message/exception?

cuckoo/utils/machine.py:
[code]

[2015-04-23 20:08] tysonmax20042003 opened #532 "ImportError: No module named lib.cuckoo.common.config"
Hello again,

I have a problem after cleaning the database by using python ./cuckoo --clean

It looked like a problem with django so I reinstalled django (sudo sudo pip install django --upgrade)

Same result :(

Any ideas? Thanks again.

cuckoo@Cuckoo-Host:~/bin/cuckoo$ python /home/cuckoo/bin/cuckoo/web/manage.py runserver 0.0.0.0:8080
Traceback (most recent call last):
  File "/home/cuckoo/bin/c

[2015-04-29 06:39] dspruell commented on #517
See #535 - minor tweak to doc to update module name.

[2015-04-29 06:49] dspruell commented on #532
For Django to load the project correctly, the settings module must be accessible in the Python path. This is typically done if you call manage.py from its parent directory.

[code]

Does this work for you?

[2015-04-29 07:03] jbremer commented on #517
Merged #535 :-)

[2015-04-29 18:35] landw1re commented on #529
I completely changed around my network configuration and went back to using 1 NIC on the guest VM. Everything is working as expected now.

[2015-04-29 18:35] #529 closed

[2015-04-29 18:37] landw1re opened #537 "Django Interface (Apache) - Behavioral Analysis Tab Not Functioning Correctly"
I have the Django interface being presented via Apache WSGI and everything seems to be working fine with the exception of the Behavioral Analysis tab.

At first load of that tab everything is there (analysis wise). The problem is when you click any of the color coated icons other than the gray **default** one I receive the following error.

**"Error loading data. Please reload the page and if the

[2015-04-30 17:37] brad-accuvant commented on #537
This issue can be closed -- Cuckoo is not affected, it was due to a modification of mine.  If you're submitting bugreports to the unmodified version of Cuckoo, *please* make sure you're actually testing against their version.  Nobody likes to receive bug reports for bugs that aren't theirs.

Thanks,
-Brad

[2015-05-01 19:38] landw1re commented on #537
Thanks Brad, I wasn't sure if it was a core cuckoo/django related issure or not. I'll be sure to validate before submitting issues going forward. Appreciate you keeping me honest :-)

- Issue is resolved.

[2015-05-01 19:38] #537 closed

[2015-05-06 00:30] tysonmax20042003 commented on #532
Thanks @dspruell for the reply.
You are going to laugh...I guess I had a moment. I was not using the correct syntax and not calling from the parent. This was clearly my mistake. Thanks.

cuckoo@Cuckoo-Host:~/bin/cuckoo/web$ sudo python manage.py runserver 0.0.0.0:8080
Performing system checks...

System check identified no issues (0 silenced).
May 05, 2015 - 20:12:13
Django version 1.8, using sett

[2015-05-06 00:30] #532 closed

[2015-05-06 00:34] tysonmax20042003 opened #538 "2 feature requests. Install script to make config easier :)"
Since Cuckoo has a lot of configs that need to be changed for the correct response from cuckoo. Could your team or the community create an install script to enable all required changes depending on the setup for Cuckoo.

This could be a menu based bash script that just askes a few questions, IE: Will you be using VirtualBox? What Interface do you need to be monitored by TCPDUMP? How Many VM's are

[2015-05-06 00:36] tysonmax20042003 commented on #532
Thanks for your help and sorry for not getting back with a faster response. I will close this issue. I will  try not to do any more foolish mistakes ;)

[2015-05-06 00:57] tysonmax20042003 commented on #519
Also I have this installed:

root@Cuckoo-Host:~/.pip# pip freeze
Django==1.8
Jinja2==2.7.2
Landscape-Client==14.12
Magic-file-extensions==0.2
MarkupSafe==0.18
PAM==0.4.2
Pyrex==0.9.8.5
SQLAlchemy==0.8.4
Twisted-Core==13.2.0
apt-xapian-index==0.45
argparse==1.2.1
bottle==0.12.0
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
cybox==2.1.0.10
dpkt==1.6
html5lib==0.999
libvirt-python==1.2.2
pefile==1.

[2015-05-06 02:48] tysonmax20042003 commented on #519
I tried it again today and same problem. I think? Looks to be this issue again. OSError: [Errno 2] No such file or directory

Cuckoo Sandbox 1.3-dev

2015-05-05 22:28:19,682 [lib.cuckoo.core.scheduler] ERROR: Failure in AnalysisManager.run
Traceback (most recent call last):
  File "/home/cuckoo/bin/cuckoo/lib/cuckoo/core/scheduler.py", line 363, in run
    success = self.launch_analysis()
  File "

[2015-05-06 14:21] dspruell commented on #532
One comment: should be little or no need to run cuckoo 's commands as the superuser (sudo). Especially things like remote services (Django, API server) should be exposed as less privileged user. Running as root can also botch permissions on files written to disk, etc.

[2015-05-06 14:29] tysonmax20042003 commented on #532
Ok,  thanks again for the help.

[2015-05-07 11:52] jhg opened #539 "Failed to run the reporting module MMDef"
Error running the branch master (work and make the report but static analisys don't show bytes size, hash, etc)

And:

[2015-05-07 12:37] jhg commented on #509
Is possible that before of shutdown machine Cuckoo close document and wait a little more time? It maybe mitigate this problem

[2015-05-08 04:17] dspruell opened #540 "Provide option to disable color output in CLI commands"
Is it possible to add an option to cuckoo.py to disable output of the color sequences?

In some setups, such as when running the Cuckoo commands from Upstart jobs and redirecting stdout/stderr to a log using _console log_, command output is placed as is in a log file. Other process managers can behave this way as well.

Log files then look as follows:

[code]

Disabling color in output could incre

[2015-05-08 12:15] jhg opened #541 "Cannot acquire machine: No machines match selection criteria."
If I select one and don't use "any" then:

My virtualbox.conf file is like it:

If use "any" machine all found but I can't select a machine.

[2015-05-08 12:31] KillerInstinct commented on #541
Try lowercasing your label names. (make it match the machines value)

[2015-05-10 00:36] jbremer commented on #530
I think an error would be useful, yes. Otherwise people might not notice a bug in their script because they assume it's working (whereas it's actually failing silently), or something along those lines.

[2015-05-10 00:39] jbremer commented on #530
What do you think about the proposed solution? See the commit above.

[2015-05-10 00:39] #530 closed

[2015-05-10 01:24] jbremer commented on #496
There has been progress in this field - please retest against the latest `monitor` branch ;)

[2015-05-10 01:25] jbremer commented on #259
There has been progress in this field - please retest against the latest `monitor` branch :)

[2015-05-10 02:40] jbremer commented on #502
I have updated the injection utilitie(s) of the new monitor so that it supports unicode filenames. https://github.com/jbremer/monitor/commit/4795faddf788a9b4920b92677a4ba176b33c064b https://github.com/jbremer/monitor/commit/50e48b292fa110e38c703abc6ab8ac67be29a111 https://github.com/jbremer/monitor/commit/0d952d2607959aa25ef4045b1206cf8251afb2b7 (It turns out that some of the changes to `inject.c`

[2015-05-10 04:41] jbremer commented on #413
It is now possible in the `monitor` branch to pass through a `curdir` variable. The sample will then automatically be moved to and run from that directory and the current working directory for the new process is also set to it. https://github.com/cuckoobox/cuckoo/commit/49347bb2f068e4274888a57e53507ca08be5bddf https://github.com/cuckoobox/cuckoo/commit/ad90961bf8327f3ce3e4de3ed3866769d66b49f3 http

[2015-05-10 04:41] #413 closed

[2015-05-10 04:44] jbremer commented on #502
Closing this issue as it works as expected for me - please reopen if you hit a bug or have more questions about it.

[2015-05-10 04:48] jbremer commented on #301
The latest and greatest Cuckoo supports 64-bit Python in the `monitor` branch. I have not tested this particular setup yet, but it should work (tm).

[2015-05-10 12:23] johnfoo commented on #522
(it's actually MongoClient.disconnect/close, not Database) MongoClient.close was a simple call to self.disconnect(), and disconnect did the actual job. 7f42430978310e8bd9c4ed2995abd7da24c0f52f removed disconnect() and made close() the full method. people using pymongo<3.0 will call MongoClient.close() which will call self.disconnect. so the behavior will stay the same.

[2015-05-10 13:09] jbremer commented on #531
The idea of being able to enable or disable `human.py` on a per-analysis basis is nice, but I'm not sure if this is the correct approach. I'm thinking more along the lines of giving a `human=mouse` / `human=click` / `human=mouse,click` as option to the task.
Will see if I can properly implement it.

[2015-05-10 13:59] jbremer commented on #531
For now I'll leave it up to @jekil and @botherder to support this functionality natively from within the Web interface, but at least you'll be able to specify, e.g., "human=0" as `options` in the Web interface.
Please take a look at the commit message for more information on the options that are supported.

TODO @jekil documentation.

[2015-05-10 14:03] jbremer commented on #540
Are you sure? I've been using Upstart scripts as well without issues. See also https://github.com/cuckoobox/cuckoo/blob/master/utils/service.sh
Then just read `/var/log/upstart/cuckoo.log`.

[2015-05-10 14:04] why99fun commented on #530
i am Chinese gus  i am a spring chicken for cuckoo
zh text not work
last Thursday you  call me ?

[2015-05-10 14:08] jbremer commented on #513
Will have to create lots and lots of signatures.

[2015-05-10 14:12] jbremer commented on #438
The `tasks` database table offers the `custom` column which can be used for this purpose. I'm not sure if the Web interface offers functionality around this column though. Might be something worthy to add.

[2015-05-10 14:15] jbremer commented on #323
This feature has been introduced as part of task `options`. See also the comments in #531.
Additionaly it would be nice to pass along configuration settings as well, so I'll keep this issue open, but for now there's at least some progress.

[2015-05-10 14:19] jbremer commented on #524
Can you run the Django web interface in debug mode? That will probably show you an error somewhere :)

[2015-05-10 14:20] jbremer commented on #505
This feature has been added as part of #413. Please read my last comment in that thread :)

[2015-05-10 14:21] #505 closed

[2015-05-10 14:35] why99fun opened #544 "zh language not work"
i am Chinese gus i am a spring chicken for cuckoo
zh text not work

when i autograph

# -*- coding: utf-8 -*-
from lib.cuckoo.common.abstracts import Signature

class xiongmao(Signature):
    name = "熊猫烧香"
    description = "网络 文件 注册表匹配"
    severity = 3
    categories = ["virus"]
    authors = ["why"]
    minimum = "1.0"
    evented = True
    global count = 0

    def __init__(self, *args, **kwa

[2015-05-10 14:37] why99fun commented on #544
Analysis failed when executing zh language  process name.
cuckoo1.3 change name in analysis,but webpage display not zh language  process name

[2015-05-10 15:38] robertsjw commented on #301
+1

[2015-05-10 18:22] jbremer commented on #544
Can you please provide the sample that you test with and the output that you get or a traceback in case of an exception? This would greatly help us debug your signature.

[2015-05-11 04:24] dspruell commented on #540
Not totally sure. :) My log file snippet is the result of using `console log` in Upstart job configs, which causes the stderr/stdout from the job to be redirected to the log file. If the output contains control characters, those are entered into the log file.

That said, I'm using a different Upstart setup than what `utils/service.sh` creates. What I'm seeing may be related to my setup. If there's

[2015-05-11 08:44] jbremer commented on #540
I'm definitely not saying that `utils/service.sh` represents Cuckoo's recommended setup, but it's what I have been using and it does the job for me. If you can share your Upstart scripts, perhaps there's something useful in there :)

[2015-05-11 11:54] jhg opened #545 "The package "modules.packages.exe" start function raised an error: Unable to execute the initial process, analysis aborted."
When I execute a .exe it raise this error:

But with others .exe all work, I try use pythonw and python as admin and then don't raise this error but startup don't found. With others .exe when it need admin privileges Windows show a dialog window for confirm, but in this case only raise a error.

[2015-05-11 11:55] jbremer commented on #545
Is it a valid executable? Can you run it in the VM normally? (E.g., without using Cuckoo).
Alternatively try submitting it with the `free=yes` option which doesn't inject the Cuckoo monitor, in case that gives a problem.

[2015-05-11 12:05] jhg commented on #545
Yes, in VM normally run without error (with hardening in VM as in VM of Cuckoo). With `free=yes` option all is same without Cuckoo monitor injection.

[2015-05-11 12:06] jbremer commented on #545
So to clarify, with `free=yes` does the sample run successfully or crash as well?

[2015-05-11 12:08] jhg commented on #541
Thanks, with lowercasing in VBox labels it work. Is necesary that label and machine name in Cuckoo conf be equal?

[2015-05-11 12:09] jbremer commented on #541
The label refers to the name that you have assigned to the virtual machine in VirtualBox, so that has to be equal.

[2015-05-11 12:10] jhg commented on #545
Crash as well. With `free=yes` in report say the same error.

[2015-05-11 12:12] jbremer commented on #545
That's quite odd. What is the error and what kind of sample do you have?

[2015-05-11 12:16] jhg commented on #541
Yes, equal to name in VirtualBox I understand, but equal to name between [ and ] in config file?

I before had:

And did not work, I now have:

And I rename VM to lowercase too, then it work. I don't understand why `[w7]` could be equal to `label = w7` (and because `label = w7` the VM also could be `w7` and not `W7`).

[2015-05-11 13:04] jhg commented on #545
Yes, I send you a sample by email, and error is:

It is launched from:

And analusis.log is:

[2015-05-11 13:36] brad-accuvant commented on #545
Is it a 64-bit binary you're trying to execute on a 32-bit VM?  Or an executable with a static import of a DLL not present in the VM?

[2015-05-11 14:25] jhg commented on #545
Not and not. Target machine is Intel 386 or later processors and compatible processors then 64-bit or 32-bit not is a problem. In VM normal don't run but with hardening run good manually.

[2015-05-11 16:47] jbremer commented on #545
I've replied to your email with my `report.json`. The sample you have provided runs just fine under the latest development version of Cuckoo (i.e., the `monitor` branch), so I consider this issue resolved.

Maybe you're missing library.. or are you running Windows 7?

[2015-05-11 23:38] jeffhammett opened #546 "[lib.cuckoo.core.plugins] ERROR: Failed to run the processing module "NetworkAnalysis""
I just setup Cuckoo on Ubuntu 14.04 LTS. Everything seems to be working except for generating pcaps. I downloaded Cuckoo from cuckoosandbox.org, I am getting the following error on all files I analyze, any ideas on how to fix?

2015-05-11 16:16:34,688 [lib.cuckoo.core.plugins] ERROR: Failed to run the processing module "NetworkAnalysis":
Traceback (most recent call last):
  File "/home/user/bin/cu

[2015-05-12 04:30] tysonmax20042003 commented on #546
This sounds like the same issue as myself.

Open issue: Analysis not starting on Proxmox KVM #519
https://github.com/cuckoobox/cuckoo/issues/519

Cuckoo Sandbox 1.3-dev

2015-05-05 22:28:19,682 [lib.cuckoo.core.scheduler] ERROR: Failure in AnalysisManager.run
Traceback (most recent call last):
File "/home/cuckoo/bin/cuckoo/lib/cuckoo/core/scheduler.py", line 363, in run
success = self.launch_analy

[2015-05-12 04:31] tysonmax20042003 commented on #546
Try running cuckoo in debug mode to see if you get more details on the fails. IE: python ./cuckoo.py -d

[2015-05-12 08:11] jhg commented on #545
@jbremer thanks for your response, and I was use Windows 7 for analysis, I when read your email try with Windows XP and in XP run good. The XP and W7 machine have same Python versión, same agent.py, same installation, etc; and is same Cuckoo installation.

In principle, the sample is compatible with W7 because run in it manually. The installation and libraries that I have installed is same that in

[2015-05-12 12:49] KillerInstinct commented on #546
@tysonmax20042003 these errors appear to be unreleated from what I can tell.

@jeffhammett I believe this is due to a configuration issue, or not setting up tcpdump properly. Please check that you have allowed non-root users the ability to run tcpdump, and that your conf/auxiliary.conf file properly reflects your configured interface.

To allow non-root users to run tcpdump, view the following doc

[2015-05-12 14:39] #522 closed

[2015-05-12 14:56] jeffhammett commented on #546
As far as I can tell tcpdump is setup for non-root users, and my interface is setup correctly in the conf files. Below is output of getcap /usr/sbin/tcpdump, ifconfig and both my cuckoo.conf and auxilliary.conf

    $ getcap /usr/sbin/tcpdump
    /usr/sbin/tcpdump = cap_net_admin,cap_net_raw+eip

    $ ifconfig
    eth0      Link encap:Ethernet  HWaddr MAC
              inet addr:192.168.1.129  Bc

[2015-05-12 15:06] jeffhammett commented on #546
I also tested by running

    $ tcpdump -i vboxnet0

in Ubuntu and browsing in IE on the virtual machine and packets are captured just fine.

[2015-05-12 23:57] jpsenior commented on #531
I can handle the web functionality as discussed on irc

[2015-05-12 23:58] jpsenior opened #547 "Provide a centralized place to handle Options definitions"
As some of the increased demands for cuckoo grow, more option requests are being added to support various new features.
It would be helpful to centralize these options and their definitions to reference them in multiple places: e.g. submit.py, database add, API, web interface.
A warning should be sent to the user if they are using a cuckoo option that is not supported.

I'll write a small patch fo

[2015-05-13 00:00] jpsenior commented on #544
This highlights a need for better internationalization of some functions eg human.py:
Changing some functions to support unicode instead of ascii [forward-looking python 3 work?] might satisfy why99fun's issue.

[2015-05-13 00:02] jpsenior commented on #538
Tysonmax, it seems like you would be more interested in a prebuilt cuckoo virtual appliance for this sort of request?

[2015-05-13 00:03] jpsenior commented on #528
@botherder I have some ideas kicking around to internationalize some of the current front-end appearance to end users... I'll see if there's an easy way to handle this in a centralized i18n type configuration...

[2015-05-13 00:13] jbremer commented on #544
Recently I introduced support for analyzing samples with unicode characters in the filename. If I get more information on this bug surely we can fix any remaining unicode issues. Like, this issue could really just be a very basic issue with the web interface - there's quite some layers where stuff can go wrong.
Personally I don't see a change to Python 3 in the near future as I'm a Python 2 guy my

[2015-05-13 00:44] KillerInstinct commented on #544
If you submit a URL with Unicode (for example copying a URL from a unicode-displayed web interface) it will crash mongo reporting module as it's not json serializable. I don't have a URL on hand to test, but know that's a thing. :)

[2015-05-13 08:13] jbremer commented on #544
Let me know if you do - URLs are definitely something that can be encoded into plain ASCII. I'm not sure if the browsers handle it, but with my recent changes at least Cuckoo will be able to correctly pass along the unicode URL to the browser. (Whereas before it was only able to do ascii strings etc).
Still, encoding unicode URLs as ascii shouldn't be too much work.

[2015-05-18 04:35] Shane-Carr opened #550 "api.py report formats"
In utils/api.py the tasks_report function contains the line:

    tarmode = tar_formats.get(request.get("tar"), "w:bz2")

This should be:

    tarmode = tar_formats.get(request.GET.get("tar"), "w:bz2")

So that to retrieve a gzipped archive, one can access the URL:  /tasks/report/23/dropped?tar=gz

[2015-05-18 18:45] tacticalrce opened #551 "Extraneous Data"
It might be nice for Cuckoo to support the idea of removing extraneous data. For instance, when analyzing a potentially malicious word document, perhaps the standard winword startup sequence could be hidden (optionally) based on a known-good "template" of executing a clean word document.

The same goes for network traffic (e.g., microsoft update, or upnp, etc). Although much of this can be disable

[2015-05-18 18:51] jbremer commented on #551
It's on our todo list. Mark and Claudio had some progress on this through "diffing" reports in the browser and I'm handling as part of the monitor itself as well. Final result would hopefully become a fully stripped down report with only the useful stuff (i.e., exploit attempts etc).

Going to need some more work though, so stay tuned.

[2015-05-20 03:19] #550 closed

[2015-05-20 03:19] Shane-Carr commented on #550
Fixed and submitted pull request

[2015-05-20 17:15] piazzamp commented on #459
@jekil should there be a check for executability before the [last line of zip.py](https://github.com/cuckoobox/cuckoo/blob/1223a497111e7de84d0536a8e9f422bcfb1ca5b9/analyzer/windows/modules/packages/zip.py#L97)? ie: `os.access(file_path. os.X_OK)`
or, better yet, recursive analysis of the uncompressed file using the appropriate package?

[2015-05-21 11:29] SpoonBoy commented on #539
as the documentation changed, have you done the `sudo pip install -r requirements.txt` inside the root directory of cuckoo ?
I think the static information are gathered by python-magic or python-pefile

[2015-05-21 11:29] rhdbqls111 commented on #539
NAVER - http://www.naver.com/
--------------------------------------------

kim66354@naver.com 님께 보내신 메일 <Re: [cuckoo] Failed to run the reporting module MMDef (#539)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-21 15:50] jhg commented on #539
I have installed all from requirements but not bson because it don't exist now in Pypi and pip can't download it because can't find it. Also python-pefile and python-magic I installed it with apt-get install. I has more packages that I read in book malware analysis with Cuckoo. I try with version 1.2 and raise the same error.

[2015-05-21 15:53] SpoonBoy commented on #539
on ubuntu, you can do  `sudo apt-get install python-bson`  which will install that dependency

[2015-05-21 16:03] jhg commented on #539
I look in requirements.txt pymongo and pymongo in pypi say that don't install bson because it cause conflict. Also I now try to install python-bson and the error is equal.

[2015-05-21 16:10] SpoonBoy commented on #539
could you paste the error trace ?

[2015-05-21 23:39] worsht opened #554 "Analyzer does not find 64 bit executables when python is 32 bit"
Steps to reproduce:
- Start from a fresh Windows 7 guest OS
- Install 32 bit python and the agent
- Install 64 bit Microsoft Office
- Try to sandbox a document
- The following error is seen:
[code]

Root cause:
The code in abstracts.py that resolves executable paths assumes that  %ProgramFiles% points to C:\Program Files and %ProgramFilesx86% points to C:\Program Files (x86), whereas in this case

[2015-05-21 23:43] worsht commented on #554
This PR: https://github.com/cuckoobox/cuckoo/pull/555 has a patch

[2015-05-22 08:41] jhg commented on #539
Yes, is same:

    current.run(self.results)

    self.addMetadata()

    id = "cuckoo:%s" % self.results["target"]["file"]["md5"]

The problem is that when plugins run mmdef results["target"]["file"] don't has a 'md5' key, I think about if is because plugins order or that other error before do that md5 don't calculated. And in report don't show all static info, not md5, sha256, etc, etc.
![screen

[2015-05-23 22:29] jbremer commented on #373
This is going to require some more testing probably, but this issue should've been fixed in the following commit (followed by a unittest). https://github.com/jbremer/monitor/commit/68e20deabecb4cd7b0a22c388ad9bd0a0ff2525f https://github.com/jbremer/monitor/commit/360ed4980e0123156f92689899f8d88cd4f4d120

[2015-05-23 22:37] jbremer commented on #554
Thanks for the bug report :)

[2015-05-23 22:44] jbremer commented on #517
I think this issue can be closed now?

[2015-05-23 22:44] #517 closed

[2015-05-24 22:23] jbremer opened #557 "Remove linux_analyzer_dev"
Remove the `linux_analyzer_dev` branch. Yes?

[2015-05-24 22:25] jbremer commented on #554
Merged your patch, thanks again.

[2015-05-24 22:30] jbremer commented on #301
This has been fixed as per #554 / #555.

[2015-05-24 22:30] #301 closed

[2015-05-26 17:33] worsht commented on #554
Thank you!

[2015-05-27 08:22] jhg commented on #557
And is linux analyzer finish or not will be finish a linux analyzer? I think is interesting analyzer for linux and others as Mac, Android, etc; or if not one analyzer for each platform then one analyzer that work in more of one platform.

[2015-05-27 10:40] jbremer commented on #557
All of that will happen soon, but this branch is outdated and not relevent for those changes.

[2015-05-31 21:48] eugenekolo opened #560 "grammar mistake for MySQL suggestion over SQLite"
https://github.com/cuckoobox/cuckoo/commit/43d8bcb9554435a847213d890b5292f94620a868

The test should be reverted back to
[code]
New message is missing a 'or' to make it grammatically correct.

[2015-06-02 19:04] init99 opened #561 "MySQL Schema?"
Getting an issue after following the doc to upgrade from 1.0 to 1.3 after submitting a file for analysis: Database error fetching task: (OperationalError) (1054, "Unknown column 'tasks.owner' in 'field list;")... I'd like to just rebuild the MySQL database from scratch but can't find the SQL schema file?
Thanks!

[2015-06-03 07:50] jhg opened #562 "Lost commits 086e9ad, 4cdbce9 & 471b4ea"
Yesterday I do pull from cuckoo repository in my repository in local, and download commits of @jbremer  as 086e9ad5cea8237bdd3cf68127e81917b4493eed and now I look in cuckoo repository that not exist 086e9ad5cea8237bdd3cf68127e81917b4493eed commit of yesterday, it is deleted? Why it was reset with force and don't fix or generate and commit that revert it with revert?

List of lost commits:
 - 086e9

[2015-06-03 10:29] jbremer commented on #562
I hard-reverted it. Will only get people complaining anyway, whatever.

[2015-06-03 10:29] #562 closed

[2015-06-03 11:02] jhg commented on #562
Only that I don't understand before because a revert is less aggressive and can pull it. Ok, then I hard-reset in local. Thank you.

[2015-06-03 11:03] jbremer commented on #562
It's not the first time it has happened, but sorry, I'll try not to do it in the future ;)
As you've seen already, just remove the last 3 commits.
Sorry!

[2015-06-03 11:06] jhg commented on #562
Don't worry :D and thanks.

[2015-06-03 11:20] jhg opened #563 "Can't resolve label reference 'priority desc, added_on'; converting to text() (this warning may be suppressed after 10 occurrences)"
I don't update SQLAlchemy and now when 1.2 tag in master I has the next error:

[2015-06-03 13:16] jbremer commented on #563
I just stumbled upon the same issue. I checked and it seems that `1.x.x` is affected by this, and versions up to `0.9.9` are not. It should be an easy fix though, so give me a minute.

[2015-06-03 13:19] jbremer commented on #563
Ok, after further investigation it seems that this has been resolved in current `master` (and also `monitor`). So basically, when running `1.2` one should install a compatible sqlalchemy version: `pip install sqlalchemy==0.9.9`. Might be something for the documentation, I don't know..

[2015-06-03 13:20] jbremer commented on #563
But based on the warning I don't think it's a critical bug, more of a deprecation warning..

[2015-06-03 14:19] jhg commented on #563
Yes, not is critical, and 1.2 work with this warning. Thanks.

[2015-06-03 14:20] jhg commented on #563
And, I know it not is about this issue, but, what is different in `master` and `monitor`? In books I read that they use `master`, what is "work" of `monitor`?

[2015-06-03 15:59] jbremer commented on #563
It's what Cuckoo 2.0 will be based on (with regards to the Windows side, anyway).

[2015-06-03 16:07] jhg commented on #563
If I understand this, then Cuckoo 2.0 is development in branch `monitor`?

[2015-06-04 01:06] jbremer commented on #554
Please comment on https://github.com/cuckoobox/cuckoo/pull/555#issuecomment-108667095 here, thanks!

[2015-06-04 08:32] jhg commented on #546
I has same error and I try all for configure tcpdump and with `tcpdump -i vboxnet0 work`:

    data = current.run()

    sort_pcap(self.pcap_path, sorted_path)

    batch_sort(inc, outpath, output_class=lambda path: SortCap(path, linktype=inc.linktype))

    current_chunk = list(islice(input_iterator,buffer_size))

    self.fd = dpkt.pcap.Reader(open(self.name, "rb"))

[2015-06-04 08:35] jbremer commented on #546
Sorry guys, I only see this issue now. The following commit from roughly a month ago in the `master` branch fixes it: https://github.com/cuckoobox/cuckoo/commit/cafd67e1ec80b2b358a4e1b16cc65e471e1d6702. Please upgrade or manually apply it.. that should do the trick.

[2015-06-04 08:36] jhg opened #564 "Proposal: remove utils/web.py web and that it run Django web with development server"
That utils/web.py not run other web interface and that run Django development server, for only develop a web user interface. Merge two webs in one.

[2015-06-04 08:37] jbremer commented on #546
Another work around is disabling `sort_pcap` by changing to `sort_pcap = no` in `conf/cuckoo.conf`.

[2015-06-04 08:39] jbremer commented on #519
Sorry for the late reply, but I only see this issue now. Please check my following comments in another issue, that will resolve your issue: https://github.com/cuckoobox/cuckoo/issues/546#issuecomment-108785757 and https://github.com/cuckoobox/cuckoo/issues/546#issuecomment-108785942.

[2015-06-04 08:41] jbremer commented on #564
Could do for the upcoming version.

[2015-06-04 08:42] jbremer commented on #563
2.0 will feature more than *just* the `monitor` branch, but `monitor` will definitely represent the Windows part of it, yes.

[2015-06-04 08:42] jhg commented on #546
Thanks @jbremer

[2015-06-04 08:44] jbremer commented on #561
The database structure is created for you. If you simply remove all of the tables in the database or create a new database, Cuckoo will do the rest for you. Hope that answers your question. (This is due to the usage of the `SQLAlchemy` ORM, btw).

[2015-06-04 08:46] jbremer commented on #560
Done, thanks!

[2015-06-04 08:46] #560 closed

[2015-06-04 08:51] jbremer commented on #541
Which version of Cuckoo are you using? I remember this being an issue before the `1.2` release, but has been fixed since then. So upgrading your Cuckoo should probably do the trick.

[2015-06-04 08:52] jbremer commented on #541
I'll close this issue though as it has been fixed upstream and you've already figured out a way to fix it in your setup.

[2015-06-04 08:52] #541 closed

[2015-06-04 08:54] jbremer commented on #496
Closing this issue as it's working just fine for me now, see also the comment above.

[2015-06-04 08:54] #496 closed

[2015-06-04 08:58] jbremer commented on #342
Assuming that host is still up etc, if you could send me a sample (if you still have it :p), I can test it for you. But with all the improvements this *probably* works now, so I'll just close it.

[2015-06-04 08:58] #342 closed

[2015-06-04 08:59] jbremer commented on #259
Going to close this now as Internet Explorer works fine now, also refer to the comment above.

[2015-06-04 08:59] #259 closed

[2015-06-04 09:04] jbremer commented on #491
This looks more like there's no sorting at all to me.

[2015-06-04 09:06] jbremer commented on #547
@jpsenior Did you end up doing any code for this feature? :)

[2015-06-04 09:14] jbremer commented on #545
Just tested your sample against Windows 7 with the `monitor` branch - works! The `Iminent installation` thing comes up so should be good to go. Closing this issue, please test for yourself as well ;)

[2015-06-04 09:14] #545 closed

[2015-06-04 09:15] jbremer commented on #531
@jpsenior Any progress on the web functionality?

[2015-06-04 09:20] jbremer commented on #482
`dist.py` has since been moved to the `distributed` directory, but still no decent Web interface or Dashboard ;) Feel free to add one yourself or alternatively contact me if you are really interested.
Closing this issue for now as otherwise I don't see a Web interface coming up soon anyway.

[2015-06-04 09:20] #482 closed

[2015-06-04 09:33] jbremer opened #565 "Properly integrate new monitor with Django interface"
The new monitor (which can be found and used in the `monitor` branch of Cuckoo) features a lot of new cool stuff and many, many bugfixes and stability improvements. It also features a `summary` containing a list of all files created, written, read, etc etc and some more information like this.
All of this has to be integrated with Django so that it properly shows the output of the new monitor.

[2015-06-04 14:08] jhg commented on #565
This and only use Django for web #564 look very good. Good work!

[2015-06-04 14:21] jhg commented on #482
So interesting, 240 MV. How work now `dist.py`? What is next item in ToDo about it? Reports is storage in each node, in master, DB? I like it.

[2015-06-04 14:25] jhg commented on #564
If all right, I can help with this and merge webs in only Django web and utils/web.py run development server and do pull request.

[2015-06-04 14:52] jhg commented on #545
Thanks, I will try it, I hopefully that 1.3 with new monitor and monitor branch will be finish soon, look so good.

[2015-06-04 20:54] mhanne0915 commented on #482
@jbremer, thanks for letting me now about the status. I'll let you know if i get any improvements on dist.py. Thanks.

@jhg, right now dist.py is doing fine. Im just storing all the logs(htm logs, json, binaries etc) in my NAS server and just let me team mates download the logs for them to see the results. hehehe. I'm not so familiar with the django/web based programming and the mongodb. i need a

[2015-06-05 12:39] jhg commented on #545
@jbremer excuse me for reopen it but I checkout to monitor and try to use W7 machine, and:

I need merge amster to monitor for try, or other configuration?

[2015-06-05 12:40] jbremer commented on #545
Then you're probably missing something in the VM, I'm not really sure..

[2015-06-05 12:42] jhg commented on #545
agent.py is same? I use the same machine and only checkout cuckoo local repo. Machine only has python 32-bit, agent.pyw and PIL.

[2015-06-05 12:44] jbremer commented on #545
Agent is the same, yes.

[2015-06-05 12:45] jhg commented on #545
I will try to reinstall all in new W7 machine and comment here the result

[2015-06-05 12:48] jhg commented on #524
I has same error and debug mode:

And debug infor:

[2015-06-05 13:09] jhg commented on #564
Pull request 566 do this @jbremer

[2015-06-05 13:22] jhg commented on #511
https://github.com/cuckoobox/cuckoo/pull/566 remove HTML reports and change web.py to a shortcut of manage.py runserver for run Django web

[2015-06-05 14:40] AndyDove opened #567 "Problem with Volatility Integration"
When I run the memory analysis modules I receive an error during the mutantscan and devicetree modules which causes the entire memory analysis to abort.

The error is:
AttributeError: 'tuple' object has not attribute 'get_object_error'.

I have tried using Volatility 2.4 and 2.3.1 but both give the same result.  If I edit the memory.conf file to omit these modules the analysis runs correctly.
Many

[2015-06-05 23:39] botherder commented on #564
This isn't an immediate thing to do and it will need some discussion.

[2015-06-05 23:44] botherder commented on #561
I presume this answered the question.

[2015-06-05 23:44] #561 closed

[2015-06-05 23:45] botherder commented on #557
Yes, can be removed.

[2015-06-05 23:45] #557 closed

[2015-06-05 23:47] botherder commented on #551
We'll readdress this at the appropriate time. For the moment cleaning the tickets.

[2015-06-05 23:47] #551 closed

[2015-06-05 23:48] botherder commented on #547
I don't think I fully understand the purpose of that. The options for the analysis packages should be tracked in the documentation. You want to extract them from there and have the submission interfaces make sure they are correct?

[2015-06-05 23:49] botherder commented on #546
Closing as fixed.

[2015-06-05 23:49] #546 closed

[2015-06-05 23:51] botherder commented on #538
The request makes sense. The configuration files are many and getting through all the options might be intricate. I'm not sure what is the best solution to this, but it needs to be addressed.

[2015-06-06 00:59] jbremer commented on #547
Yes.

[2015-06-06 13:44] SpoonBoy commented on #527
duplicate of #483 ?
will take a look at this feature during the day or tomorrow.

[2015-06-07 20:07] edwincheese commented on #358
FYI, I bumped into the same issue with 74678a11c3d3fe69718289fbb95ec3fe734347e5ec2a8f0c9ecf1b9a179cd89c

I still have the analysis output on my disk, which is 458M in total. Please let me know if it is useful to you.

[code]

[2015-06-08 02:35] jpsenior commented on #547
Apologies, life with newborn babies...

[2015-06-08 08:09] jhg commented on #564
Yes, I know it @botherder only do this for keep this until finish discussion. After, this can be pull or reject. And I can change https://github.com/cuckoobox/cuckoo/pull/542 from HTML report to Django report, I only need https://github.com/cuckoobox/cuckoo/issues/524 fixed for I can do a human check of the report before of push it, I want remain https://github.com/cuckoobox/cuckoo/pull/542 of cou

[2015-06-08 15:09] jhg commented on #545
Yes, monitor branch work fine, only a little bugs in behavior analysis. Thanks.

[2015-06-08 15:10] jbremer commented on #545
Ok. Do you have details on said bugs?

[2015-06-08 15:21] jhg commented on #545
I am opening other issue with fail, is because:

In `v = str(v)` fail.

And, I try now with other sample, and has same error that this issue :( I don't understand why still fail with some samples.

[2015-06-08 15:23] jbremer commented on #545
The new monitor uses `behavior2`, therefore `behavior` is disabled by default in the `monitor` branch..

[2015-06-08 15:24] jhg opened #571 "ERROR: Failed to run the processing module "BehaviorAnalysis" - UnicodeEncodeError: 'ascii' codec can't encode character"
Sample: pafish.exe

Traceback:

    data = current.run()

    behavior["processes"] = Processes(self.logs_path).run()

    calls = list(current_log.calls)

    self.wait_for_lastcall()

    if not self.parser.read_next_message():

    self.handler.log_call(context, apiname, category, argdict)

    returnval] + arguments.items())

    argument["value"] = convert_to_printable(cleanup_value(arg_value

[2015-06-08 15:26] jbremer commented on #571
Like I said, don't use `behavior` in the `monitor` branch.

[2015-06-08 15:28] jhg commented on #545
Thanks, then is my conf not update. But the same error with modules.packages.exe I don't understand why still raise error

[2015-06-08 15:37] jhg commented on #571
With:

Don't raise error but don't show in Django report. I show in behavior2.py that use key behavior2, do you look well if change key to behavior (for replace behavior with behavior2) or change Django template for use behavior or if don't exist try to use behavior2 as behavior?

[2015-06-09 04:54] ajaybabu91 opened #572 "The package "modules.packages.exe" start function raised an error: Unable to execute the initial process, analysis aborted."
when i execute calc.exe
ERROR: Analysis failed: The package "modules.packages.exe" start function raised an error: Unable to execute the initial process, analysis aborted.
2015-06-09 10:08:38,123 [modules.machinery.virtualbox] INFO: Successfully generated memory dump for virtual machine with label WindowsXP_SP3_Cuckoo1 to path /home/ubuntu/cuckoo/storage/analyses/22/memory.dmp
2015-06-09 10:08:42,

[2015-06-09 08:08] jhg commented on #545
@jbremer in #572 @ajaybabu91 has same error, I think this not is 100% solved and is possible that the error not all raise but they are more cases of this error.

[2015-06-09 08:09] jhg commented on #572
Hi @ajaybabu91 this is same that #545 and this with `monitor` branch work better but still raise error.

[2015-06-09 08:16] jbremer commented on #572
There are like 4 distinct errors in this traceback.. how did you get it in the first place?

[2015-06-09 13:07] jhg commented on #572
The because I don't know, I think that because is in other module or don't abort all analysis and report each error. But I had look it:
![captura de pantalla de 2015-06-09 12 52 21](https://cloud.githubusercontent.com/assets/1288711/8057220/38e4b73e-0ea7-11e5-9b3c-2906c196a1d9.png)
In this case two errors is because don't found 'md5' key but is two errors in modules that is diferrent. Cuckoo and W

[2015-06-09 16:18] ajaybabu91 commented on #572
hi @jbremer  thank you for the reply
i resolved some problem . but still struggle with some problem like
ERROR: Generic error executing volatility
Traceback (most recent call last):
File "/home/ubuntu/cuckoo/modules/processing/memory.py", line 1047, in run
results = vol.run()
File "/home/ubuntu/cuckoo/modules/processing/memory.py", line 961, in run
results["ssdt"] = vol.ssdt()
File "/home/ubuntu/c

[2015-06-09 16:26] ajaybabu91 commented on #572
hi @jhg i still have ERROR : Generic error executing volatility
ERROR: Generic error executing volatility
Traceback (most recent call last):
File "/home/ubuntu/cuckoo/modules/processing/memory.py", line 1047, in run
results = vol.run()
File "/home/ubuntu/cuckoo/modules/processing/memory.py", line 961, in run
results["ssdt"] = vol.ssdt()
File "/home/ubuntu/cuckoo/modules/processing/memory.py", line

[2015-06-09 16:46] jhg commented on #572
@ajaybabu91 please, I don't show `modules.packages.exe` in your new traceback, how you resolved this?

[2015-06-09 17:08] ajaybabu91 commented on #572
@jhg  i'll send a screen shot of  ASAP

[2015-06-09 17:10] ajaybabu91 commented on #572
@jhg i'll send a screen shot of the analysis ASAP

[2015-06-10 04:20] ajaybabu91 commented on #572
@jhg  @jbremer  i found these errors.. please help

![screenshot from 2015-06-10 09 46 08](https://cloud.githubusercontent.com/assets/12808017/8074898/f4e1ec3c-0f55-11e5-88d3-4d3cc02c8ca5.png)

[2015-06-10 08:02] jhg commented on #572
@ajaybabu91 for `NetworkAnalisys` see #546 it is fixed. About volatility I'm not sure but see #495 and try check it. And, please, how to resolved error about `modules.packages.exe`? I interesting it, I  has error with `modules.packages.exe` but not in XP else W7 and if you change some to resolved it I can try that.

[2015-06-10 09:23] jhg commented on #539
I belive that I finded problem https://github.com/cuckoobox/cuckoo/blob/master/modules/processing/targetinfo.py this module not create `md5` key but MMDef need this key. I show in history that never exist this key.

[2015-06-10 09:24] jbremer commented on #539
https://github.com/cuckoobox/cuckoo/blob/master/lib/cuckoo/common/objects.py#L294

[2015-06-10 09:30] jhg commented on #539
Thanks, I was thinking that targetinfo is where this key created, then is in File class where not is creating `md5`, I don't understand why MMDef don't find `md5`. I will debug this for show where lost `md5` key.

[2015-06-10 10:00] jhg commented on #539
I find problem, now yes. `[lib.cuckoo.core.scheduler] ERROR: Unable to create symlink/copy from "/opt/cuckoo/storage/binaries/c483342f58a2eaf0be5ef78db2d9d480925d3ec1d66826840210258e05f51f03" to "/opt/cuckoo/storage/analyses/18": [Errno 30] Read-only file system` do that then not true `if os.path.exists(self.file_path):` and never run `target_info["file"] = File(self.file_path).get_all()`.

@jbrem

[2015-06-10 11:55] jhg opened #575 "In recent analysis of Django interface can't delete failed analysis"
If an analysis fail can't delete it because in table not has a button for delete and in remove view if report not exist then don't remove failed task.

[2015-06-11 07:10] ajaybabu91 commented on #572
@jhg dont remember how i resolved that even though i have some more errors while executing
can you please tell me which installation manuel or guide are you following for cuckoo sandbox installation

[2015-06-11 23:42] jbremer opened #577 "Get rid of api.py temporary directory for sample storage logic"
When submitting a task through `api.py` a temporary directory is created with the submitted file in it. This temporary is used to preserve the filename of the sample. However, as this information is also available in the database, it's not actually required, and thus the logic of the temporary directory can be removed.
The actual bug is the fact that the temporary directory is not actually removed

[2015-06-11 23:46] botherder commented on #572
Is the error with analysis package occurring with every file? It will raise that same error if for example the binary is corrupted or it is not for the architecture of the VM.

[2015-06-12 00:10] botherder opened #578 "Migrate HTML report to use Django template"
We don't want to maintain the HTML report as it is. It is out of date. We want to use Django's HTML report.

[2015-06-12 01:25] botherder opened #579 "Need to initialize network with VirtualBox Machinery module"
When starting Cuckoo, if VirtualBox network isn't active already, we get that error with the resultserver not binding. It is quite annoying, so let's try to either initialize the network or start and stop a VM to make VirtualBox do it for us.

[2015-06-12 01:27] jbremer commented on #579
If you have `vmcloak` installed you can just run `vmcloak-vboxnet0`: https://github.com/jbremer/vmcloak/blob/master/bin/vmcloak-vboxnet0

[2015-06-12 01:37] botherder commented on #577
It is currently used by both ``api.py`` as well as the Django interface. Checking if we can safely get rid.

[2015-06-12 01:48] botherder commented on #523
For now we close the ticket. It seems premature from both sides.

[2015-06-12 01:48] #523 closed

[2015-06-12 01:48] #249 closed

[2015-06-12 08:08] jbremer commented on #523
Why not just postpone it to 2.1 or similar?

[2015-06-13 22:09] botherder commented on #528
Some of the changes have been incorporated, and the regexp seems unnecessary for now. I'll close this ticket, please comment if there are reasons to additional reasons to implement regexp and I'll reopen.

[2015-06-13 22:09] #528 closed

[2015-06-14 14:59] allewwaly opened #581 "how to install and initialize samples?"
which file of cuckoo is in control of the automatic installation and initialization of malware samples? what's the basic principles?

[2015-06-14 22:01] eugenekolo commented on #581
You should read everything here: http://docs.cuckoosandbox.org/en/latest
TLDR: You set up cuckoo + vms. You launch the cuckoo server (cuckoo.py) and you submit to the server (utils/submit.py)

[2015-06-15 00:33] allewwaly commented on #581
I know the basic process, what I hope to do is a standalone process which can automatic the installation and execution of different types of PE files, such as .exe, .dll, .bin. So could you please tell me which file of cuckoo is responsible for that?

[2015-06-15 08:13] jhg commented on #581
`utils/submit.py` do that. Start machine, send to cuckoo monitor sample, and cuckoo monitor run and install sample and analyze it. For show code of monitor go to monitor repo, to show code of monitor modules show analyze/ folder in cuckoo, for send a sample from other app show in web/ submission Django app.

[2015-06-15 10:31] allewwaly commented on #581
Well, you may not understand what I want, anyway, I think the modules under cuckoo/analyzer/windows/modules/packages/ is what I want. Thx guys

[2015-06-15 14:05] jhg commented on #579
I like this, is a common problem. I think is good the `vmcloak` vboxnet code use in `cuckoo` or integrate `vmcloak` in `cuckoo` by default.

[2015-06-15 15:19] jhg commented on #572
@botherder not is with every file, for example with pafish work but with samples fail and same sample I run in the same machine but manually and sample run fine. In #545 @jbremer try a sample and with `monitor` branch work fine, but I try same branch and still fail. Binary is well and run and is for 32bits and machine is 32 bits.

[2015-06-15 15:24] SpoonBoy commented on #525
duplicate of #344 ?

[2015-06-15 15:54] jhg opened #582 "Integration with Malheur of @rieck"
https://github.com/rieck/malheur of @rieck as in cuckoo modification of @brad-accuvant https://github.com/brad-accuvant/cuckoo-modified

[2015-06-15 16:06] jhg commented on #578
When this will be done I will merge with my `master` branch and push to https://github.com/cuckoobox/cuckoo/pull/566 with any conflict solved.

[2015-06-16 09:17] SpoonBoy opened #583 "add authentication on web interface"
This is a feature request, opened to discussion of the community.

On malwr.com you have the ability to :
  - login/sign-up
  - make an analysis private (meaning that only the user that submitted can view it)
  - display and search through your analysis

Those would be interesting features that could be added to cuckoo sandbox. This would enable the possibility to share a platform between a circle

[2015-06-16 12:18] jhg commented on #583
@SpoonBoy Django has by default Auth (and admin, login, permission, etc), and can read from Django models the Cuckoo database https://docs.djangoproject.com/en/1.8/howto/legacy-databases/ I think that this issue is easy if enable auth in Django, use auth decorators in views, Django use other database and read Cuckoo database with legacy integration for can from Django models read all, with a int f

[2015-06-16 12:21] jhg opened #584 "Change Django views to class-based views"
https://docs.djangoproject.com/en/1.8/topics/class-based-views/

[2015-06-17 08:43] jhg opened #585 "Django interface: Python functions or REST API"
Django interface now is usingPython functions for submission, check status, etc; could it use this or use REST API? (Or other way for API between Django interface and Cuckoo daemon, or distributed Cuckoo)

[2015-06-17 18:25] mzweilin opened #586 "REST API doesn't work properly in master"
It seems the porting work to Flask hasn't finished yet. I encountered one serious problem in submitting files, which was not expected in the master branch.

The code should be tested properly before being merged to master. https://github.com/cuckoobox/cuckoo/commit/65e4491a3c26434bec196a5eaecfccaadd93be71#diff-3d03530109e7e7620d069801fbdbedf5

Flask has a different interface in reading POST reques

[2015-06-17 18:39] jbremer commented on #586
You're right, the new `api.py` is has yet to be finished. @botherder might pick up where you left off? Either that or put it in a new branch, as-is it's just completely broken.

[2015-06-17 19:01] mzweilin commented on #586
I wonder if there's similar problem in process.py. I encountered the error message as below with the current version.

[code]

[2015-06-17 19:05] jbremer commented on #586
If I'm not mistaken I've fixed this particular error in the `monitor` branch along with an attempt to fix some other errors as well.

[2015-06-18 17:43] jimmythegreat opened #587 "Unreliable times in result if agent updates time"
If the time in the agent gets updated, it could lead to unreliable times in the results.

Scenario:
9:19: Malware starts at 4:48 (agent time).
The API calls and enhanced data will have a time of 4:48
9:20: Windows updates time to 9:19
9:21: Malware creates a new process
The API calls and enhanced data will have a new time of 9:21

[code]
As you can see the Cuckoo's time was 9:19 when the malware s

[2015-06-19 13:13] botherder commented on #587
This is actually something we are aware of, but it is a bit tricky to fix. Normally, the VM clock should be adjusted before the processes are started.
What virtualization software do you use?

[2015-06-19 13:14] botherder commented on #586
Yes, I'm still to finish the Flask port. Working on it.

[2015-06-19 15:06] jimmythegreat commented on #587
We are using Vmware workstation 11. We are also using INetSim (which has NTP).

[2015-06-20 23:45] botherder commented on #586
This should be fixed now.

[2015-06-20 23:45] #586 closed

[2015-06-20 23:52] botherder commented on #585
Not entirely. Django pulls multiple information from the database, and needs to have access to MongoDB as well. Question is, why do you want to change it?

[2015-06-20 23:53] botherder commented on #584
Is this something Django is transitioning to in newer versions?

[2015-06-20 23:54] botherder commented on #583
Indeed, having an authentication would be nice, but at that point you also need to have "ownership" of the analysis tasks. That would mean change the Cuckoo schema as well.

[2015-06-20 23:57] #581 closed

[2015-06-22 19:33] mzweilin commented on #586
Thanks @jbremer  and @botherder .

@jbremer , when are you going to merge the monitor branch? If it will not be soon, I would prefer keeping the old stable version of master in my running instance.

[2015-06-23 08:14] jhg commented on #585
I read in Cuckoo doc that recommended use Rest API, then because it I ask this. I understand MongoDB use, but when I read it in Cuckoo doc I don't understand if is better Rest API or a Database object for the rest. It's more a question and less a change proposal.

[2015-06-23 08:17] jhg commented on #584
No, not is a transition for new versión, this is in Django since 1.3 version and Django not say that functions views will be deprecated (still), but a class-based views has advantages as heredity, and base class that do commons task.

[2015-06-23 11:09] KillerInstinct commented on #584
I think what the OP is getting at is by implimenting class based views, it would be easier to add features, such as the API in Django, by inheriting classes that are already present, EG the Search. Overall would likely lead to less code, and more reusability -- which I'm a fan of.

[2015-06-23 12:06] SpoonBoy commented on #584
Using Django 1.8 clearly adds some interesting features
  - more easy way to have custom branding
  - internalization and/or localization
  - move business logic from views to models, which will make the database architecture more readable for anyone

IMO, the last point is the biggest advantage. that will remove the lib.cuckoo.core.database.py and delegate the database from cuckoo to django. So m

[2015-06-23 13:29] KillerInstinct commented on #584
If you move database.py into django you'd have to force users to use django, which Cuckoo currently does not do. Basically would end up depricating web.py

[2015-06-23 13:42] SpoonBoy commented on #584
web.py is no more maintained : see #511

[2015-06-23 14:35] jhg commented on #584
@SpoonBoy I test cuckoo django web interface with Django 1.8.2 and it's work fine. I am interesting in porting web to Django (for example I have pull request https://github.com/cuckoobox/cuckoo/pull/566 https://github.com/cuckoobox/cuckoo/pull/570 https://github.com/cuckoobox/cuckoo/pull/574 and issues for ask about the way for I help to do this).

I like idea of @SpoonBoy of use Django ORM, it's

[2015-06-24 19:35] rieck commented on #582
@jhg @brad-accuvant Thanks for the effort! Let me know, if you run into problems.

[2015-06-24 20:04] KillerInstinct commented on #583
I think it would be worth implimenting groups at the same time, if you're going to impliment ownership. Auth by itself doesn't require a schema change if you only want authenticated users to be able to submit tasks or something similar. Needs configuration options too.

[2015-06-25 09:42] jhg commented on #583
@botherder the Cuckoo schema is as @SpoonBoy comment in #584 and is easy, Django has a legacy for make automatic models of a DB (https://docs.djangoproject.com/en/1.8/howto/legacy-databases/). It can be use for migrate Cuckoo to Django ORM or for integrate Django with Cuckoo DB and do "ownership" without change Cuckoo schema, exist this two ways.

As @KillerInstinct say, is possible do a auth with

[2015-06-25 10:05] jhg opened #588 "Migrate Cuckoo server to Celery worker called from Django (web) or Flask (API)"
In the line of #583 #584 #578 #564 #565 #585 #515 I think proposal migrate cuckoo.py to Celery (as task/s) and (I think that) maybe it resolv and help with distributed Cuckoo (in that @jbremer are working), with Celery workers, and it is 'less code, and more reusability' as say @KillerInstinct in https://github.com/cuckoobox/cuckoo/issues/584#issuecomment-114446177 and this can to be do in two ste

[2015-06-25 10:19] jhg opened #589 "Feature: Integration of VMcloak in Cuckoo"
vboxnet0 up when Cuckoo start if is down, and if other feature is usefull then all usefull features

[2015-06-25 12:37] jhg commented on #582
@rieck I show that last commit in https://github.com/rieck/malheur is on Mar-2014, is malheur in active development? Has support still, bug fix, new features, optimization, or is abandoned development? I'm interesting in this because I like malheur, I like use machine learning for detect malware and I think is a good tool for a malware analysis system as Cuckoo, but also I think is relevant that d

[2015-06-25 12:42] jbremer commented on #582
I was discussing earlier, even before Brad integrated Malheur, with Hugo Gascon to do machine learning based on Cuckoo. We have it on the roadmap for around the summer period. Also, malheur is, as you say, getting outdated and is not being updated anymore.

[2015-06-25 13:11] rieck commented on #582
Malheur is not under active development any more—aside from bug fixes.  This, however, might change, if new research questions pop up. Is there any other open-source project focusing on malware clustering?

[2015-06-25 15:00] jhg commented on #582
@rieck I don't understand "questions pop up" (I'm spanish speaker and I only know 'pop up' as windows that is open from a web, for example for ads).

@jbremer exist a issue for speak about machine learning in Cuckoo? Is so good that it's was in the roadmap. I don't know status of machine learning in Cuckoo, if use malheur or not I don't know, but Cuckoo need machine learning.

[2015-06-25 16:18] rieck commented on #582
@jhg There has been a lot of research on malware clustering. We might start working on Malheur again, if there are some new problems or ideas. One never knows. ;)

[2015-06-26 08:15] jhg commented on #582
@rieck so good, and I like it, only that I don't know status of machine learning in Cuckoo it's must be coordinate with a member of Cuckoo team (as @jbremer or @botherder or @jekil for example). A idea for malheur is in the line of JohnTheRipper (https://github.com/magnumripper/JohnTheRipper) I see malheur is 90% C, I see can use OpenMP, then also check "neck of bottle" for translate to assembly t

[2015-06-27 02:07] #515 closed

[2015-06-29 20:09] mzweilin opened #591 "error in utils/process.py in latest master"
$ ./utils/process.py -p 5 auto

[code]

[2015-06-30 01:03] botherder commented on #591
Thanks for reporting.

[2015-06-30 12:28] SpoonBoy commented on #591
confirm, it does throw an error when using the process.py in auto mode.
The same issue happen when trying to use the  -r  option also.
(but anyway, the report seems to be generated and properly displayed in django)

[2015-06-30 12:34] jbremer commented on #591
Could you maybe share your `.bson` files from the `log` directory? And also, is this bug reproducable? (That is, do you also get it when you do `./utils/process.py -r task_id` again?)

[2015-06-30 13:28] SpoonBoy commented on #591
Yes it is reproducible using the `./utils/process.py -r task_id`
the png is a 7z file, containing the whole analysis dir.
![analysis_1](https://cloud.githubusercontent.com/assets/6861971/8431822/509d1380-1f3c-11e5-82b3-6b77fc38d75d.png)

[2015-07-01 09:48] jhg opened #593 "Migrate snapshots from PIL to Pillow"
https://wiki.python.org/moin/Python2orPython3
`PIL (an image processing module) was superseded by its fork Pillow, which supports Python3.`

[2015-07-01 09:50] jhg opened #594 "Support for Python 3"
https://wiki.python.org/moin/Python2orPython3
http://ptgmedia.pearsoncmg.com/imprint_downloads/informit/promotions/python/python2python3.pdf

Support for Python 2 (still) and also Python 3, and this need fix first #593

[2015-07-01 10:57] jbremer commented on #594
I'm not sure if we have people that care about Python3 support - I don't.

[2015-07-01 11:22] KillerInstinct commented on #594
I don't either, but as a long term project, Python2 will eventually depricate.

[2015-07-01 11:26] jbremer commented on #594
Personally doubt it :p

[2015-07-01 12:56] themanifold opened #595 "Fault in logic for launching auxiliary modules"
https://github.com/cuckoobox/cuckoo/blob/master/analyzer/windows/analyzer.py

With reference to the above code, there is a fault in the logic beginning with the comment

`#try to start auxiliary module`

The `finally` block means that even if a module throws an exception, it will output a log message saying that it was successful in starting the module. The continue statement in the `except` block

[2015-07-02 13:58] nsmfoo commented on #591
I can confirm this one as well: "ValueError: I/O operation on closed file".

Closing the files before the reports is finished perhaps?

[2015-07-02 14:03] jbremer commented on #591
Weird - not much changed to the processing lately. In the `master` branch anyway. Will have to investigate later.

[2015-07-02 14:09] nsmfoo commented on #591
Tests on the master branch. Most likely not an error in process.py, diff between 1.2 and master is:
---
24c24
< from lib.cuckoo.core.startup import init_modules
---

127a128

128a130,132
--

Just because, I tried with 1.2 process.py and got the same error.

So the Issue is somewhere else ..

[2015-07-02 14:31] SpoonBoy commented on #591
I have a **working** environment running with version 15d6bba6fb7977fe98f9e8c58bf1708fc304922b

looking at the commit timeline, the error come from c30b7a873a891

on latest mainstream, changing deepcopy to the dict version works.

[2015-07-02 14:34] jbremer commented on #591
Ah, makes sense.. the enumeration of `process["calls"]` involves seeking through a custom enumerator which reads from the *bson* file. Should probably revert the `copy.deepcopy()` thing for now.
Soon we're merging various big changes so then we can re-evaluate the deepcopy issue.

[2015-07-06 14:55] jhg opened #596 "DEPRECATION: Uninstalling a distutils installed project (dpkt) has been deprecated and will be removed in a future version. This is due to the fact that uninstalling a distutils project will only partially uninstall the project."
When run `pip install --upgrade -r requirements.txt`:
[code]

[2015-07-07 16:31] kholbrook1303 opened #599 "Failure with numerous tasks tied to a single machine"
I am finding that when submitting numerous concurrent submissions, I receive a DEBUG error:

2015-07-07 11:27:57,785 [lib.cuckoo.core.database] DEBUG: Database error getting available machines: QueuePool limit of size 5 overflow 10 reached, connection timed out, timeout 30

Shortly therafter, I eventually get this prior to machine completion:

Traceback (most recent call last):
  File "./cuckoo.py

[2015-07-08 09:46] SpoonBoy commented on #599
Are you using default database ? (SQLite)

[2015-07-08 10:42] jhg commented on #594
The python project say, as in the link, that 2.x not has development active, 3.x yes, and the future is 3.x because is active development and next versions. PIL also don't has active development and Pillow is a fork with active development. Support 2.x and 3.x not bring anything worng and bring all good.

The software change, improvement, and in case of Python is that 2.7 not is the last version a